<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/inventory">Inventory</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @item_category.name %></li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2><%= @item_category.name %></h2>
      </div>
    </div>
  </section>
  <section class="matches inventory-item">
    <div class="container-w80 container">
      <div class="matches-header">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="heading">
              <h4>Total <%= pluralize(@items.count , "total item") %> in this category</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      	<% @items.each do |item| %>
	        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
	          <div class="card">
	            <div class="row">
	              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
	                <div class="img-wrapper">
	                  <%= image_tag item.image_url(:big), class: "img-fluid" %>
	                </div>
	              </div>
	              <div class="col-lg-8 col-md-8 col-sm-12 col-12">
	                <div class="desc">
	                  <h5><%= item.name %></h5>
	                  <p><%= item.description %></p>
	                  <div class="button-wrapper">
	                  	<% if current_user.inventory_items.exists?(:item_id => item.id, :have => true) %>
	                  		<%= link_to "Delete from your inventory", inventory_have_delete_path(item), :confirm => "Are you sure you want to remove this as an item you own?", :class => "btn btn-primary", :method => :delete %>
                  		<% elsif current_user.inventory_items.exists?(:item_id => item.id, :want => true) %>
                  			<%= link_to "Delete from your inventory", inventory_want_delete_path(item), :confirm => "Are you sure you want to remove this as an item you own?", :class => "btn btn-primary", :method => :delete %>
	                  	<% else %>
		                    <div class="main-btn">
		                      <%= link_to "have it", inventory_have_path(item), :method => :get, :class => "btn btn-primary" %>
		                    </div>
		                    <div class="main-btn">
		                      <%= link_to "want it", inventory_want_path(item), :method => :get, :class => "btn btn-primary" %>
		                    </div>
	                    <% end %>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
        <% end %>
      </div>
    </div>
  </section>
</div>