<div class="chat-person">
  <div class="img-wrapper">
    <%#= link_to image_tag(@author.avatar_url(:thumb).to_s), user_path(@author), class: "img-fluid" %>
  </div>
  <div class="content-wrapper">
    <h4><%= @thread.subject %></h4>
  </div>
</div>
<div class="chat-detail">
  <ul id="message-box">
    <% @thread.messages.each do |msg| %>
      <% if msg.author.id == current_user.id %>
        <li class="message-item sent">
          <div class="message-content-wrapper">
            <p><%= msg.body %></p>
          </div>
        </li>
      <% else %>
        <li class="message-item received">
          <div class="message-user-avatar img-wrapper">
            <%= link_to image_tag(msg.author.avatar_url(:thumb).to_s), user_path(msg.author), class: "img-fluid" %>
          </div>
          <div class="message-content-wrapper">
            <h6><%= msg.author.name %></h6>
            <p><%= msg.body %></p>
            <h6><%= msg.created_at.strftime("%a, %b, %-d at %l:%M%P") %></h6>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="type-msg-wrapper">
  <%= form_for @response, :html => {:multipart => true}, :url => respond_message_message_path, remote: true do |f| %>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.text_field :body, class: "form-control", placeholder: "Type a message", required: true %>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  <% end %>
</div>
