<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Message</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2>Message</h2>
      </div>
    </div>
  </section>
  <section class="message-view">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="chat-list">
            <div class="main-heading">
            	<div class="row">
	            	<div class="col-7">
	              	<h2>Messages</h2>
	            	</div>
	            	<div class="col-5">
	              	<%= link_to "New", new_message_path, class: "btn btn-primary pull-right" %>
	            	</div>
            	</div>
            </div>
            <div class="chat-list-wrapper">
            	<% @threads.each do |thread| %>
	              <div class="chat-person">
	                <div class="img-wrapper">
	                  <%= link_to image_tag(thread.participancies.where("user_id != ?",current_user.id).first.user.avatar_url(:thumb), class: "img-fluid"), message_path(thread.id), remote: true %>
	                </div>
	                <div class="content-wrapper">
	                  <h4><%= link_to thread.participancies.where("user_id != ?",current_user.id).first.user.name, message_path(thread.id), remote: true %></h4>
	                  <p><%= thread.messages.last.body %></p>
	                </div>
	              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
          <div class="chat-desc" id="chat-info">
          	<div class="col-12" style="height:400px; vertical-align: middle;">
          		<h4 class="text-center" style="top: 40%; display: block; position: absolute; text-align: center;left: 30%;">Select an item to read</h4>
        		</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>