<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Message</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="message">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6 col-sm-12 col-12">
          <div class="img-wrapper">
            <%= image_tag "message-bg.png", class: "img-fluid" %>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
          <div class="form-wrapper">
            <div class="main-heading">
              <h2>Send new message</h2>
            </div>
            <div class="message-form">
              <%= form_for @message, :html => {:multipart => true} do |f| %>
                <% if @message.errors.any? %>
                  <div id="error_explanation">
                    <h2>
                      <%= pluralize(@message.errors.count, "error") %> prohibited your message from being sent:</h2>
                    <ul>
                      <% @message.errors.full_messages.each do |msg| %>
                      <li>
                        <%= msg %>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= fields_for @thread do |t| -%>
                  <div class="form-group">
                    <% if params[:to_id].present? %>
                      To: <%= link_to @user.name, @user %>
                      <%= t.hidden_field :to_id, :value => @user.id %>
                    <% else %>
                    <%= t.collection_select :to_id,
                             current_user.friends, :id, :name,
                             { include_blank: "To" },
                             class: "form-control", placeholder: "To" %>
                    <% end %>
                  </div>
                  <div class="form-group">
                    <%= t.text_field :subject, class: "form-control", placeholder: "Subject" %>
                  </div>
                <% end %>
                <div class="form-group">
                  <%= f.text_area :body, rows: 3, class: "form-control", placeholder: "Body" %>
                </div>
                <div class="main-btn text-center">
                  <%= f.button "Send Message", type: "submit", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>