<%= link_to 'Back to messages', messages_path %>

  <h2><%= @thread.subject %></h2>
  <% @thread.messages.each do |msg| %>
  <div id="message">
      <div class="message_title">
      <%= link_to image_tag(msg.author.avatar_url(:thumb).to_s), user_path(msg.author) %>
      </div>
      <span class="message_info"><%= link_to msg.author.name, user_path(msg.author) %> on <%= msg.created_at.to_s(:pretty) %></span>
      <span class="message_body"><%= msg.body %></span><div class="clear"></div>
  </div>
  <% end %>
  <br />
  <%= form_for @response, :html => {:multipart => true}, :url => respond_message_message_path do |f| %>
	<% if @response.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@response.errors.count, "error") %> prohibited your message from being sent:</h2>

			<ul>
			<% @response.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<p>
	  Add to conversation:<br />
		<%= f.text_area :body %>
	</p>
	
	<div class="actions">
		<%= f.submit "Send Message" %>
	</div>
	<% end %>