<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12 col-12 img-col">
			<div class="img-wrapper">
				<%= image_tag @user.avatar_url(:big), class: "img-fluid" %>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-12 desc-col">
			<div class="content-wrapper">
				<div class="name">
					<div class="heading text-left">
						<h2><%= user.name %></h2>
            <p class="nationality"><strong>Nationality :</strong> <%= user.ethnicity %></p>
        	</div>
      	</div>
        <ul class="contact">
          <li><i class="fa fa-envelope"></i><%= user.email %></li>
          <% if user.phone.present? %>
            <li><i class="mdi mdi-phone-classic"></i><%= user.phone %></li>
          <% end %>
          <% if user.birthtown.present? %>
            <li><i class="fa fa-map-marker"></i><%= user.birthtown %></li>
          <% end %>
        </ul>
        <p><%= user.about_me %></p>
    	</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-12 col-12 edit-col">
  		<% if @isDashboard %>
        <div class="edit-img">
      		<%= link_to edit_user_path(@user) do %>
      			<%= image_tag "edit.png", class: "img-fluid" %>
        	<% end %>
        </div>
    	<% end %>
		</div>
	</div>
</div>
