<div class="">
  <div class="content text-center">
    <div class="container">
      <div class="main-heading text-left">
        <h4>Friends</h4>
      </div>
      <div class="">
        <div class="slider">

					<% @friends.each do |f| %>
	          <div class="card">
	            <div class="img">
	              <%= image_tag f.avatar_url(:big), class: "card-img-top" %>
	            </div>
	            <div class="card-body">
	              <h5 class="card-title"><%= link_to f.name, user_path(f) %></h5>
	              <p><%= f.birthtown %></p>
	            </div>
	          </div>
          <% end %>
  			</div>
      </div>
    </div>
  </div>
</div>