<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-12 bg-white info-wrapper">
      <div class="content-wrapper">
        <div class="info">
          <div class="row">
            <% if @isDashboard && (@new_friend_requests > 0 || @new_messages > 0) %>
            <div id="update">
              <% if @new_friend_requests > 0 %>
                <p>You have <%= link_to pluralize(@new_friend_requests, "pending friend requests"), user_friends_path(current_user) %></p>
              <% end %>
              <% if @new_messages > 0 %>
                <p>You have <%= link_to pluralize(@new_messages, "new messages"), messages_path %></p>
              <% end %>
            </div>
            <% end %>
          </div>

          <% if current_user.friends.include?(@user) || @isDashboard %>
            <h4>Contact</h4>
            <p><%= mail_to user.email, user.email, :encode => :javascript %></p>
            <p><%= user.phone %></p>
            <% end %>
            <% unless @isDashboard %>
              <p><%= link_to 'Send Message', new_message_path(:to_id => @user.id), class: "btn btn-primary" %></p>
            <% end %>

            <% unless @isDashboard %>
              <div id="friend_link">  
              <% if current_user.requested_friends.include?(@user) %>
                <p><%= @user.name.split(/ /)[0] %> has not accepted your friend request yet.</p>
              <% elsif current_user.pending_friends.include?(@user) %>
                <p><%= link_to 'Accept Friend', user_friend_path(:user_id => current_user, :id => @user),
                      :method => :put, :confirm => 'Accept friend request! Are you sure?', class: "btn btn-primary" %> |
                <%= link_to 'Reject Request', user_friend_path(:user_id => current_user, :id => @user),
                      :method => :delete, :confirm => 'Reject friend request! Are you sure?', class: "btn btn-primary" %></p>
              <% elsif @user != current_user && !current_user.friends.include?(@user) %>
                <p><%= link_to 'Request Friend', user_friends_path(:user_id => current_user.id, :friend_id => @user.id), 
                      :method => :post, class: "btn btn-primary" %></p>
              <% end %>
              </div>

              <div class="compatibility">
              <% if !Match.find_by_user_1_id_and_user_2_id(current_user.id, @user.id).blank? %>
                <p>Compatibility: <%= current_user.get_match_with(@user).percent.to_s + "%" %></p>
              <% elsif current_user.payed_for %>
                <% if !current_user.responses.present? %>
                <p><%= link_to 'Take the RoommateMe survey', take_survey_path %></p>
                <% else %>
                <% end %>
              <% else %>
                <p>You must pay to discover your compatibility.</p>
              <% end %>
              </div>

              <div class="flaguser">
                <p><%= link_to "Flag this user's profile", flag_user_path(@user.id) %></p>
              </div>
            <% end %>
        </div>
        <div class="info">
          <div class="main-heading text-left">
            <h4>Info</h4>
          </div>
          <ul class="desc">
            <% if user.needs_roommate %>
							<li>This person is looking for a roommate.</li>
						<% else %>
							<li>This person is not looking for a roommate.</li>
						<% end %>	

						<% if user.willing_to_move %>
							<li>This person is willing to move.</li>
						<% else %>
							<li>This person is NOT willing to move.</li>
						<% end %>
          </ul>
          <ul>
						<% if user.university.present? %>
							<li>University: <%= link_to user.university.name, university_path(user.university) %></li>
						<% end %>
            <% if user.sex.present? %>
							<li>Gender: <%= user.sex %></li>
						<% end %>
						<% if user.dob.present? %>
							<li>Date of Birth: <%= user.dob.strftime("%B %d, %Y") %></li>
						<% end %>
          </ul>
        </div>
        <div class="more-info">
          <div class="main-heading text-left">
            <h4>More information</h4>
          </div>
          <ul>
          	<% if user.about_me.present? %>
            	<li><%= user.about_me %></li>
          	<% end %>

						<% if user.sex.present? %><li>Sex: <%=user.sex %></li><% end %>
						<% if user.perfect_roommate.present? %><li>My ideal roommate: <%=user.perfect_roommate %></li><% end %>
						<% if user.activities.present? %><li>Activities: <%=user.activities %></li><% end %>
						<% if user.major.present? %><li>Major: <%= user.major %></li><% end %>
						<% if user.ethnicity.present? %><li>Ethnicity: <%=user.ethnicity  %></li><% end %>
						<% if user.languages.present? %><li>Languages: <%= user.languages  %></li><% end %>
						<% if user.religion.present? %><li>Religion: <%= user.religion  %></li><% end %>
						<% if user.music.present? %><li>Music: <%= user.music  %></li><% end %>
						<% if user.shows.present? %><li>Shows: <%= user.shows  %></li><% end %>
						<% if user.birthtown.present? %><li>Birth Town: <%= user.birthtown  %></li><% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 bg-white contact-wrapper">
      <div class="content-wrapper">
        <div class="social-contact">
          <div class="main-heading text-left">
            <h4>social contact</h4>
          </div>
          <ul>
            <li>
              <%= image_tag "msn.svg", class: "img-fluid" %>
              <a href="#"><%= user.msn.present? ? user.msn : 'N/A' %></a>
            </li>
            <li>
              <%= image_tag "website.svg", class: "img-fluid" %>
              <a href="#"><%= user.websites.present? ? user.websites : 'N/A' %></a>
            </li>
            <li>
              <%= image_tag "my-space.svg", class: "img-fluid" %>
              <a href="#"><%= user.myspace.present? ? user.myspace : 'N/A' %></a>
            </li>
            <li>
              <%= image_tag "facebook.svg", class: "img-fluid" %>
              <a href="#"><%= user.facebook.present? ? user.facebook : 'N/A' %></a>
            </li>
            <li>
              <%= image_tag "yahoo.svg", class: "img-fluid" %>
              <a href="#"><%= user.yahoo.present? ? user.yahoo : 'N/A' %></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>