<% if @isDashboard %>
<h4 class="ir" id="inventory_headline"><%= link_to "Inventory", inventory_path %></h4>
<% else %>
<h4 class="ir" id="inventory_headline">Inventory</h4>
<% end %>

<div id="friends" class="clearfix">
	<% if @inventoryitems.present? %>
		<% @inventoryitems.each do |f| %>
			<div class="friend">
				<%= link_to(image_tag(f.image_url(:thumb)), item_categories_path(f.item_category.name.downcase)) %>
				<p><%= link_to f.name, item_categories_path(f.item_category.name.downcase) %> from <%= link_to f.affiliate.name, f.affiliate %></p>
			</div>
		<% end %>	
	<% else %>
		<% if @isDashboard %>
			<p>You have yet to add to your inventory. <%= link_to 'Search to add now!', search_path %></p>
		<% else %>
			<p>This person has nothing in their inventory.</p>
		<% end %>
	<% end %>
</div>
