<div class="">
  <div class="content text-center">
    <div class="container">
      <div class="main-heading text-left">
        <h4>Matches</h4>
      </div>
      <div class="">
        <% unless @matches.present? %>
          <% if @isDashboard %>
            <p class="text-center">You don't have any matches yet!</p>
          <% else %>
            <p class="text-center">This person hasn't taken the survey.</p>
          <% end %>
        <% end %>

        <% if @matches.present? %>
          <div class="slider">
  					<% @matches.each do |f| %>
  	          <div class="card">
  	            <div class="img">
  	              <%= image_tag f.avatar_url(:big), class: "card-img-top" %>
  	            </div>
  	            <div class="card-body">
  	              <h5 class="card-title"><%= link_to f.name, user_path(f) %></h5>
  	              <p><%= f.birthtown %></p>
  	            </div>
  	          </div>
            <% end %>
    			</div>
        <% end %>
      </div>
    </div>
  </div>
</div>