<% if user.facebook.present? %><p>Facebook: <%= link_to user.facebook, user.facebook %></p><% end %>
<% if user.aim.present? %><p>AIM: <%= link_to user.aim, user.aim %></p><% end %>
<% if user.yahoo.present? %><p>Yahoo: <%= link_to user.yahoo, user.yahoo %></p><% end %>
<% if user.msn.present? %><p>MSN: <%= link_to user.msn, user.msn %></p><% end %>
<% if user.myspace.present? %><p>MySpace: <%= link_to user.myspace, user.myspace %></p><% end %>
<% if user.websites.present? %><p>Website: <%= link_to user.websites, user.websites %></p><% end %>