<p><%= f.label :name %><br />
<%= f.text_field :name %></p>

<p><%= f.label :avatar %> <i>(must be less than 2.5 MB)</i><br />
<%= f.file_field :avatar %></p>


<p><%= f.label :email %><br />
<%= f.email_field :email %></p>

<p><%= f.label :password %><br />
<%= f.password_field :password, autocomplete: :off %></p>

<p><%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation, autocomplete: :off %></p>

<p><%= f.label :phone %><br />
<%= f.text_field :phone %></p>
