<p><%= f.label :sex %><br />
<%= f.select :sex, ["Male", "Female"]%></p>

<p><%= f.label :dob, "Date of Birth" %><br />
<%= f.date_select :dob, :end_year => Time.now.year - 17, :start_year => Time.now.year - 99, :order => [:month, :day, :year] %></p>

<p><%= f.label :needs_roommate, "Do I need a Roommate?" %><br />
<%= f.label :needs_roommate_true, "Yes" %>&nbsp;<%= f.radio_button :needs_roommate, true %>
<%= f.label :needs_roommate_false, "No" %>&nbsp;<%= f.radio_button :needs_roommate, false %></p>

<p><%= f.label :willing_to_move, "Am I willing to move?" %><br />
<%= f.label :willing_to_move_true, "Yes" %>&nbsp;<%= f.radio_button :willing_to_move, true %>
<%= f.label :willing_to_move_false, "No" %>&nbsp;<%= f.radio_button :willing_to_move, false %></p>

<p><%= f.label :about_me %><br />
<%= f.text_area :about_me, :size => "32x10" %></p>

<p><%= f.label :perfect_roommate, "Ideal Roommate" %><br />
<%= f.text_field :perfect_roommate %></p>

<p><%= f.label :activities %><br />
<%= f.text_field :activities %></p>

<p><%= f.label :major %><br />
<%= f.text_field :major %></p>

<p><%= f.label :ethnicity %><br />
<%= f.text_field :ethnicity %></p>

<p><%= f.label :languages %><br />
<%= f.text_field :languages %></p>

<p><%= f.label :religion %><br />
<%= f.text_field :religion %></p>

<p><%= f.label :music %><br />
<%= f.text_field :music %></p>

<p><%= f.label :shows %><br />
<%= f.text_field :shows %></p>

<p><%= f.label :birthtown %><br />
<%= f.text_field :birthtown %></p>