<p><%= f.label :facebook %><br />
<%= f.text_field :facebook %></p>

<p><%= f.label :aim %><br />
<%= f.text_field :aim %></p>

<p><%= f.label :yahoo %><br />
<%= f.text_field :yahoo %></p>

<p><%= f.label :msn %><br />
<%= f.text_field :msn %></p>

<p><%= f.label :myspace %><br />
<%= f.text_field :myspace %></p>

<p><%= f.label :websites %><br />
<%= f.text_field :websites %></p>