<div class="page">
  <section class="sign-in">
    <div class="bg-img">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6 col-sm-12 col-12">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="form-wrapper">
              <div class="main-heading text-left">
                <h2>Sign in</h2>
              </div>
              <div class="message-form">
                <% if flash[:alert].present? %>
                  <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= flash[:alert] %>
                  </div>
                <%
                  flash[:alert] = ""
                 end
                 %>
                <div class="main-heading text-left">
                  <h2>Welcome to</h2>
                  <h1>RoomMates me</h1>
                </div>
                <%= form_for :session, url: sessions_path do |f| %>
	                <div class="form-group">
	                  <label>Email</label>
	                  <%= f.email_field :email, class: "form-control" %>
                  </div>
	                <div class="form-group">
	                  <label>Password</label>
	                  <%= f.password_field :password, class: "form-control" %>
	                </div>
	                <div class="main-btn text-left">
	                  <%= f.button "Login", type: "submit", class: "btn btn-primary" %>
                    <%= link_to "Forgot your password?", recovery_path, class: "m-2" %>
	                </div>
	                <div class="">
	                  <p>Dont have an account?
	                    <%= link_to "Sign Up", register_path %>
	                  </p>
	                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer bg-blue" id="footer">
    <%= render("layouts/copyright") %>
  </footer>
</div>