<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2>Search Your Best Match</h2>
        <p>This is arguably our most powerful application giving users the ability to search for others of like interest,
            tutors, and our community partners free of charge!</p>
      </div>
    </div>
  </section>
  <section class="search">
    <div class="container">
      <div class="content-wrapper">
        <div class="search-form">
          <form class="form-inline active-cyan-4">
        	<%= form_tag(search_path, :method => "get", class: "form-inline active-cyan-4") do %>
            <div class="col">
              <%= search_field_tag(:q, params[:q], :placeholder => "Search", class: "form-control form-control-sm mr-3") %>
            </div>
            <div class="col-auto">
            	<%= button_tag '<i class="fa fa-search" aria-hidden="true"></i>'.html_safe, class: "btn btn-primary", type: "submit" %>
            </div>
          <% end %>
          </form>
        </div>
      </div>
    </div>
  </section>

<% if params[:q].present? %>
  <section class="search-result">
    <div class="container container-w80">
      <div class="main-heading">
        <h2>Search Result</h2>
        <p><%= pluralize(@total_count, "result") %> found for “<%= params[:q] %>”</p>
      </div>

      <div class="search-category">
        <div class="main-heading text-left">
          <h2>Users</h2>
          <% if @users_slice.present? %>
            <p>Showing <%= @users_slice.count %> of <%= pluralize(@users.count, "user") %>.</p>
          <% else %>
            <p>No users found matching your search terms.</p>
          <% end %>
        </div>
        <div class="card-wrapper matches">
          <div class="row">
            <% @users_slice.each do |u| %>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <div class="card">
                  <div class="img-wrapper">
                    <%= link_to image_tag(u.avatar_url(:big)), u, class: "img-fluid" %>
                  </div>
                  <div class="desc">
                    <h5><%= link_to u.name, user_path(u.id) unless u.nil? %></h5>
                    <p><%= u.birthtown %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="search-category search-items">
        <div class="main-heading text-left">
          <h2>Affiliates</h2>
          <% if @affiliates.present? %>
            <p>Showing <%= @aff_slice.count %> of <%= pluralize(@affiliates.count, "affiliate") %>.</p>
          <% else %>
            <p>No affiliates found matching your search terms.</p>
          <% end %>
        </div>
        <div class="card-wrapper matches">
          <div class="row">
            <% @affiliates.each do |a| %>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <div class="card">
                  <div class="img-wrapper">
                      <%= link_to image_tag(a.image_url(:big), class: "img-fluid") %>
                  </div>
                  <div class="desc">
                      <h5><%= link_to a.name, affiliate_path(a.id) unless a.nil? %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="search-category search-items">
        <div class="main-heading text-left">
            <h2>Inventory items</h2>
            <% if @items.count > 0 %>
              <p>Showing <%= @items_slice.count %> of <%= pluralize(@items.count, "item") %>.</p>
            <% else %>
              <p>No inventory items found matching your search terms.</p>
            <% end %>
        </div>
        <div class="card-wrapper matches">
          <div class="row">
            <% @items.each do |a| %>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <div class="card">
                  <div class="img-wrapper">
                    <%= link_to image_tag(a.image_url(:big), class: "img-fluid") %>
                  </div>
                  <div class="desc">
                    <h5><%= link_to a.name, item_categories_path(a.item_category.name) unless a.nil? %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="search-category search-items">
        <div class="main-heading text-left">
          <h2>Communtiy Partners</h2>
          <% if @community_partners.count > 0 %>
            <p>Showing <%= @cp_slice.count %> of <%= pluralize(@community_partners.count, "community partner") %>.</p>
          <% else %>
            <p>No community partners found matching your search terms.</p>
          <% end %>
        </div>
        <div class="card-wrapper matches">
          <div class="row">
            <% @community_partners.each do |c| %>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <div class="card">
                  <div class="img-wrapper">
                    <%= link_to image_tag(c.image_url(:big), class: "img-fluid") %>
                  </div>
                  <div class="desc">
                    <h5><%= link_to c.name, community_partner_path(c.id) unless c.nil? %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </section>
<% end %>
</div>