<div class="page">
  <section class="sign-up">
    <div class="bg-img padding-tb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-7 col-sm-12 col-12">
            <div class="form-wrapper">
              <div class="main-heading text-left">
                <h2>Sign up</h2>
              </div>
              <div class="message-form">
                <%= form_for @user, url: signup_path, method: :post do |f| %>
	                <div class="form-group">
	                  <label for="email">Email</label>
	                  <%= f.text_field :email, class: "form-control" %>
	                  <% if @user.errors[:email].present? %>
					            <span style="color: red;"><%= @user.errors[:email].first %></span>
					          <% end %>
	                </div>
	                <div class="form-group">
	                  <label for="name">Name</label>
	                  <%= f.text_field :name, class: "form-control" %>
	                  <% if @user.errors[:name].present? %>
					            <span style="color: red;"><%= @user.errors[:name].first %></span>
					          <% end %>
	                </div>
                  <!-- <div class="form-group">
                    <label for="name">Address</label>
                    <%#= f.text_field :address, class: "form-control" %>
                    <%# if @user.errors[:address].present? %>
                      <span style="color: red;"><%#= @user.errors[:address].first %></span>
                    <%# end %>
                  </div>
                  <div class="form-group">
                    <label for="name">City</label>
                    <%#= f.text_field :city, class: "form-control" %>
                    <%# if @user.errors[:city].present? %>
                      <span style="color: red;"><%#= @user.errors[:city].first %></span>
                    <%# end %>
                  </div>
                  <div class="form-group">
                    <label for="name">State</label>
                    <%#= f.text_field :state, class: "form-control" %>
                    <%# if @user.errors[:state].present? %>
                      <span style="color: red;"><%#= @user.errors[:state].first %></span>
                    <%# end %>
                  </div>
                  <div class="form-group">
                    <label for="name">Zipcode</label>
                    <%#= f.text_field :zipcode, class: "form-control" %>
                    <%# if @user.errors[:zipcode].present? %>
                      <span style="color: red;"><%#= @user.errors[:zipcode].first %></span>
                    <%# end %>
                  </div>
                  <div class="form-group">
                    <label for="name">Country</label>
                    <%#= f.text_field :country, class: "form-control" %>
                    <%# if @user.errors[:country].present? %>
                      <span style="color: red;"><%#= @user.errors[:country].first %></span>
                    <%# end %>
                  </div> -->
	                <div class="form-group">
	                  <label for="password">Password</label>
	                  <%= f.password_field :password, class: "form-control" %>
	                  <% if @user.errors[:password].present? %>
					            <span style="color: red;"><%= @user.errors[:password].first %></span>
					          <% end %>
	                </div>
	                <div class="form-group">
	                  <label for="cpassword">Confirm Password</label>
	                  <%= f.password_field :password_confirmation, class: "form-control" %>
	                  <% if @user.errors[:password_confirmation].present? %>
					            <span style="color: red;"><%= @user.errors[:password_confirmation].first %></span>
					          <% end %>
	                </div>
	                <p>By signing up, you agree to the terms and
	                  conditions and certify that you are 18 years
	                  of age or older.</p>
	                <div class="main-btn">
	                  <%= f.button "Sign Up", type: "submit", class: "btn btn-primary" %>
	                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-5 col-sm-12 col-12">
            <div class="img-wrapper text-center">
              <%#= image_tag "signup.png", class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer bg-blue" id="footer">
    <%= render("layouts/copyright") %>
  </footer>
</div>
