<div id="community_partners" class="clearfix">
  <h2 class="big"><%= @category.name %> Community Partners</h2>
  
	<ul id="inventory_categories" class="clearfix">
		<% @categories.each do |category| %>
		<li><%= link_to category.name, category_community_partners_path(category) %></li>
		<% end %>
	</ul>
  
	<div id="community_partners_list">
		<% @cps.each do |cp| %>
		<div class="community_partner clearfix">
			<%= link_to image_tag(cp.image_url(:thumb)), cp %>
			<div class="community_partner_meta">
				<h3><%= link_to cp.name, cp %> / <%= cp.community_partner_category.name %></h3>
				<p><%= cp.description %></p>
			</div>
		</div>
		<% end %>
	</div>

	<%= paginate @cps %>
</div>