<div class="slider">
	<% @friends.each do |u| %>
	  <div class="card">
	    <div class="img-wrapper">
	      <%= image_tag u.avatar_url(:big), class: "card-img-top", alt: "img-fluid" %>
	    </div>
	    <div class="card-body">
	      <h5 class="card-title"><%= link_to u.name, user_path(u.id) %></h5>
	      <p><%= u.birthtown %></p>
	      <div class="main-btn">
	      	<% if @user == current_user %>
	        	<%= link_to "Remove", user_friend_path(:user_id => current_user, :id => u), :method => :delete, :confirm => 'Are you sure?', class: "btn btn-primary" %>
        	<% end %>
	      </div>
	    </div>
	  </div>
  <% end %>

  <% if @friends.empty? %>
  	<p class="text-center">No friends.</p>
	<% end %>
</div>
