<%= paginate @friends, :param_name => "pending_page" %>
<div class="slider">
	<% @pending_friends.each do |u| %>
	  <div class="card">
	    <div class="img-wrapper">
	      <%= image_tag u.avatar_url(:big), class: "card-img-top", alt: "img-fluid" %>
	    </div>
	    <div class="card-body">
	      <h5 class="card-title"><%= link_to u.name, user_path(u.id) %></h5>
	      <p><%= u.birthtown %></p>
	      <div class="button-wrapper">
	      	<% if @user == current_user %>
		        <div class="main-btn">
		          <%= link_to "Accept", user_friend_path(:user_id => current_user, :id => u), :method => :put, :confirm => 'Accept friend request! Are you sure?', class: "btn btn-primary accept" %>
		        </div>
		        <div class="main-btn">
		          <%= link_to "Decline", user_friend_path(:user_id => current_user, :id => u), :method => :delete, :confirm => 'Reject friend request! Are you sure?', class: "btn btn-primary decline" %>
		        </div>
	        <% end %>
	      </div>
	    </div>
	  </div>
  <% end %>

	<% if @pending_friends.empty? %>
  	<p class="text-center">No pending friend requests.</p>
	<% end %>
</div>