<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "User", user_path(params[:user_id]) %></li>
          <li class="breadcrumb-item active" aria-current="page">Friends</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2>Friends</h2>
      </div>
    </div>
  </section>
  <section class="friend-list friend-requests">
    <div class="">
      <div class="content text-center">
        <div class="container container-w80">
          <div class="main-heading">
            <h2>Requested Friends</h2>
          </div>
          <div class="">
          	<%= render "pending_friends" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="friend-list">
    <div class="">
      <div class="content text-center">
        <div class="container container-w80">
          <div class="main-heading">
            <h2>Pending friends</h2>
          </div>
          <div class="">
          	<%= render "requested_friends" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="friend-list">
    <div class="">
      <div class="content text-center">
        <div class="container container-w80">
          <div class="main-heading">
            <h2>current friends</h2>
          </div>
          <div class="">
          	<%= render "friends" %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>