<ul id="inventory_categories" class="clearfix">
	<% @categories.each do |category| %>
	<li><%= link_to category.name, category_community_partners_path(category) %></li>
	<% end %>
</ul>

<div id="community_partners_list">
	<% @cps.each do |partner| %>
	<div class="community_partner clearfix">
		<%= link_to image_tag(partner.image_url(:thumb)), partner %>
		<div class="community_partner_meta">
			<h3><%= link_to partner.name, partner %> / <%= partner.community_partner_category.name %></h3>
			<p><%= partner.description %></p>
		</div>
	</div>
	<% end %>
</div>

<%= paginate @cps %>