<div id="community_partners" class="clearfix">
	<h2 class="ir">Community</h2>
	
	<h1 style="text-align:center; font-size: 8em; color: orange;"> UNDER CONSTRUCTION </h1>
	
	<%# render "list" %>

  <div id="community_partner_suggestion_form" class="community_partner">
    <%= render "community_partner_suggestions/form" %>
  </div>
</div>
