<div id="community_partner_show" class="clearfix">
	<h2><%= @cp.name %><span id="community_partner_category"> / <%= @cp.community_partner_category.name %></span></h2>
	
	<%= image_tag @cp.image_url(:big) %>
	<div id="community_partner_information">
		<p><%= simple_format @cp.description %></p>
		<p>Address:</p>
		<p><%= @cp.address %></p>
		<p><%= raw @cp.google_maps %></p>
	</div>
</div>