<div id="community_partner_show" class="clearfix">
	<h2><%= @tutor.name %></h2>
	
	<%= image_tag @tutor.avatar_url(:big) %>
	<div id="community_partner_information">
		<p>Tutors:</p>
		<p><%= @tutor.subjects %></p>
		<p>Contact at:</p>
		<p><%= @tutor.contact %></p>
	</div>
</div>