<div id="community_partners" class="clearfix">
  <h2 class="big"><%= @category.name %> Tutors</h2>
  
	<ul id="inventory_categories" class="clearfix">
		<% @categories.each do |category| %>
		<li><%= link_to category.name, category_tutors_path(category) %></li>
		<% end %>
	</ul>
  
	<div id="community_partners_list">
		<% @tutors.each do |tutor| %>
		<div class="community_partner clearfix">
			<%= link_to image_tag(tutor.avatar_url(:thumb)), tutor %>
			<div class="community_partner_meta">
				<h3><%= link_to tutor.name, tutor %> / <%= tutor.tutor_category.name %></h3>
				<p>Tutors: <%= tutor.subjects %></p>
				<p>Contact at: <%= tutor.contact %></p>
			</div>
		</div>
		<% end %>
	</div>

	<%= paginate @tutors %>
</div>