/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fcc146; color: #fff; text-shadow: none; }
::selection { background: #fcc146; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Logan Leger
   ========================================================================== */
   
   /* Color guide: 
      Very light blue: #a3dae5
      Light blue: #2b9db9
      Dark blue: #196075 
      Orange: #fcc146 */

body {
  background: #2b9db9;
  color: #fff;
}

#container {
  width: 900px;
  margin: 0 auto 50px;
}

#flash_notice, #flash_alert {
  padding: 5px;
  background: #fcc146;
  color: #196075;
  margin: 15px 0;
}

a, a:visited, a:hover {
  color: #fcc146;
  text-decoration: none;
}

/* Header */

header {

}

  header h1 {
    background: url('/images/logo_nav.png') no-repeat;
    width: 191px;
    height: 223px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }
    header h1 a {
      width: 191px;
      height: 223px;
      z-index: 2;
      position: relative;
      display: block;
      margin: 0 auto;
    }
  header nav {
    background: #196075;
    height: 50px;
    position: relative;
    top: -128px;
    z-index: 0;
    padding: 0 100px;
  }
    #left_menu {
      float: left;
      width: 400px;
    }
    #right_menu {
      float: right;
      width: 400px;
    }
    header nav a {
      height: 10px;
      float: right;
      margin: 20px 15px 30px 10px;
    }
    #home_nav {
      background: url('/images/home_nav.png') no-repeat;
      width: 45px;
    }    
    #about_nav {
      background: url('/images/about_nav.png') no-repeat;
      width: 53px;
    }
    #search_nav {
      background: url('/images/search_nav.png') no-repeat;
      width: 60px;
    }
    #matching_nav {
      background: url('/images/matching_nav.png') no-repeat;
      width: 77px;
    }
    #messages_nav {
      background: url('/images/messages_nav.png') no-repeat;
      width: 78px;
    }
    #inventory_nav {
      background: url('/images/inventory_nav.png') no-repeat;
      width: 87px;
    }
    #community_nav {
      background: url('/images/community_nav.png') no-repeat;
      width: 90px;
    }
    #login_nav {
      background: url('/images/login_nav.png') no-repeat;
      width: 72px;
    }
    #logout_nav {
      background: url('/images/logout_nav.png') no-repeat;
      width: 72px;
    }

/* Inventory page */

#inventory_listing_page {
  
}
  #inventory_listing_page h2 {
    background: url('/images/inventory_listing_headline.png') no-repeat;
    width: 204px;
    height: 45px;
  }
  .inventory_bucket {
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    width: 350px;
    float: left;
    margin-right: 25px;
  }
  ul#inventory_categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
    ul#inventory_categories li {
      float: left;background: #196075;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      color: #fff;
      margin-bottom: 5px;
      margin-right: 5px;
      width: 100px;
      text-align: center;
    }
    ul#inventory_categories li a {
      padding: 15px;
      display: block;
    }

/* Affiliates show page */

#affiliates_show {
  
}
  #affiliates_show h2 {
    font-size: 45px;
    color: #fbc146;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  #affiliates_show h3 {
    margin-top: 0;
  }
  p#item_count {
    font-style: italic;
    margin-top: 0;
  }
  #affiliates_info {
    width: 700px;
  }
    #affiliates_info img, #affiliates_info p {
      float: left;
    }
    #affiliates_info p {
      width: 475px;
      margin-left: 25px;
    }
  #affiliates_show #inventory_categories {
    margin: 25px 0;
  }
  .affiliate_item {
    color: #e6e6e5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #196075;
    margin-bottom: 15px;
    padding: 15px;
  }
    .affiliate_item img {
      float: left;
      width: 50px;
      margin-right: 10px;
    }
    .affiliate_item_meta {
      float: left;
      width: 600px;
    }
  
/* Community partner show page */

#community_partner_show {
  
}
  #community_partner_show h2 {
    font-size: 45px;
    color: #fbc146;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  span#community_partner_category {
    color: #e6e6e5;
    font-size: 24px;
  }
  #community_partner_information {
    color: #e6e6e5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #196075;
    margin-bottom: 15px;
    padding: 15px;
  }
    #community_partner_show img {
      float: left;
      width: 200px;
      margin-right: 25px;
    }
    #community_partner_information {
      float: left;
      width: 450px;
    }


/* Friends page */

#friends_page {
  
}
  #friends_page h2 {
    background: url('/images/friends_page_headline.png') no-repeat;
    width: 152px;
    height: 45px;
  }
  #friends_page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #not_quite_friends {
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    width: 250px;
    float: left;
    margin-right: 25px;
  }
  #actual_friends {
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    width: 550px;
    float: left;
  }

/* Search page */

#search_page {
  
}
  h2#search_headline {
    background: url('/images/search_page_headline.png') no-repeat;
    width: 230px;
    height: 70px;
    margin: 0 auto;
  }
  #search_page h3 {
    font-size: 36px;
    color: #fbc146;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  #search_page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    #search_page ul li {
      background: #196075;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      padding: 15px;
      color: #fff;
      width: 550px;
      float: left;
      margin-bottom: 15px;
    }
      #search_page ul li img {
        float: left;
        width: 50px;
        margin-right: 10px;
      }
      #search_page ul li p {
        float: left;
        width: 490px;
        margin-top: 0;
      }

/* Login page */

#login_headline {
  background: url('/images/login_headline.png') no-repeat;
  width: 132px;
  height: 45px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#login_form {
  background: #196075;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  width: 250px;
}

/* Messages page */

#messages_index {
  width: 650px;
  margin: 0 auto;
}
  #messages_bar {
    background-color: #196075;
    margin: 10px 15px 0;
    padding: 10px;
  }
    #messages_bar h2 {
      background: url('/images/messages_headline.png') no-repeat;
      width: 112px;
      height: 26px;
      float: left;
    }
    #messages_bar a {
      float: right;
      background: #fcc146;
      color: #0c1327;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      text-transform: uppercase;
      display: block;
      width: 165px;
      text-align: center;
      border: none;
      margin: 10px auto;
      text-decoration: none;
      padding: 10px 0;
    }
  ul#message_list {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
  }
    ul#message_list li {
      padding: 15px 15px 5px;
      background-color: #e7e8e8;
      border-bottom: 5px solid #d1d2d4;
      color: #6d6e71;
    }
      ul#message_meta li img {
        float: left;
        width: 50px;
      }
      .message_meta {
        float: right;
        width: 525px;
      }
        .message_content {
          float: left;
          width: 440px;
        }
        .message_timestamp {
          float: left;
          width: 85px;
        }
        ul#message_list h3 {
          margin-top: 0;
        }
        ul#message_list h3 a {
          color: #156177;
        }
        .message_timestamp {
          color: #156177;
        }

/* Community page */

#community_partners {
  
}
  #community_partners h2 {
    background: url('/images/community_page_headline.png') no-repeat;
    width: 315px;
    height: 70px;
    margin: 0 auto 25px;
  }
  #community_partners h2.big {
    background: none;
    font-size: 36px;
    color: #fbc146;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
    width: auto;
    height: auto;
  }
  .community_partner {
    color: #e6e6e5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #196075;
    margin-bottom: 15px;
    padding: 15px;
  }
    .community_partner img {
      float: left;
      width: 50px;
      margin-right: 10px;
    }
    .community_partner_meta {
      float: left;
      width: 600px;
    }

#community_partner_suggestion_form {
  width: 300px;
  margin: auto;
}
  #community_partner_suggestion_form h3 {
    color: #fcc146;
  }

.submit_button{
  background: #fcc146;
  color: #0c1327;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  min-width: 115px;
  min-height: 30px;
  text-align: center;
  border: none;
  margin-top: 10px;
}

/* Matches page */

#matches_page {
  
}
  #matches_page h2 {
    background: url('/images/matches_page_headline.png') no-repeat;
    width: 257px;
    height: 69px;
    margin: 0 auto;
    padding-bottom: 35px;
  }
  #matches_listing {
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
  }
    .match {
      float: left;
      width: 250px;
      margin-right: 40px;
      margin-bottom: 20px;
    }

/* Profile page */

#profile_page {
  
}
  #profile_page h2 {
    background: url('/images/profile_page_headline.png') no-repeat;
    width: 234px;
    height: 70px;
    margin: 15px auto 35px;
  }
  #profile_page h4 {
    color: #fcc146;
    text-transform: capitalize;
  }
  #update {
    padding: 5px;
    background: #fcc146;
    color: #196075;
    margin: 15px 0;
  }
    #update a {
      color: #196075;
      text-decoration: underline;
    }
  #profile_info, #profile_about, #profile_friends {
    float: left;
    width: 255px;
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
  }
  #profile_about {
    margin: 0 20px;
  }
  h4#friends_headline {
    background: url('/images/profile_friends_headline.png') no-repeat;
    width: 84px;
    height: 24px;
  }
    h4#friends_headline a {
      width: 84px;
      height: 24px;
      display: block;
    }
  h4#matches_headline {
    background: url('/images/profile_matches_headline.png') no-repeat;
    width: 94px;
    height: 24px;
  }
    h4#matches_headline a {
      width: 94px;
      height: 24px;
      display: block;
    }
  h4#inventory_headline {
    background: url('/images/profile_inventory_headline.png') no-repeat;
    width: 113px;
    height: 24px;
  }
    h4#inventory_headline a {
      width: 113px;
      height: 24px;
      display: block;
    }
  div#friends {
    
  }
    div.friend {
      float: left;
      width: 65px;
      margin-right: 15px;
    }
    
/* Survey page */

#survey_page {
  
}
  h2#survey_headline {
    background: url('/images/survey_headline.png') no-repeat;
    width: 142px;
    height: 45px;
  }
  #survey_form {
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
  }
    #survey_form .field_with_errors {
      display: inline;
      background: #fcc146;
    }
    #survey_form li {
      color: #fcc146;
      font-size: 14px;
      font-weight: bold;
    }
    #survey_form .answers {
      font-size: 12px;
      color: #fff;
      font-weight: normal;
    }

/* Landing page */

#landing_illustration {
  background: url('/images/landing_illustration.png') no-repeat;
  width: 902px;
  height: 473px;
  margin: 0 auto;
}

#landing_blurb {
  background: #196075;
  color: #a0dae6;
  padding: 15px;
  margin: 50px 50px 0;
  font-size: 14px;
}
  #landing_blurb a {
    color: #fcc146;
    text-decoration: none;
  }

#landing_buckets .bucket {
  float: left;
  width: 250px;
  border-right: 5px solid #196075;
  color: #fff;
  padding: 30px 15px;
  font-size: 14px;
}

#landing_buckets .bucket_content {
  height: 200px;
}

#landing_buckets li {
  margin-bottom: 10px;
}

li#free_plan {
  background: url('/images/free_badge.png') no-repeat right center;
  padding-right: 75px;
  min-height: 65px;
  margin-bottom: 25px;
}

li#paid_plan {
  background: url('/images/paid_badge.png') no-repeat right center;
  padding-right: 75px;
  min-height: 65px;
}

#pricing_bucket {
  border-right: none!important;
  padding-right: 0;
}
  #pricing_bucket h2 {
    background: url('/images/pricing_headline.png') no-repeat;
    width: 122px;
    height: 45px;
    margin: 0 auto;
  }
  #pricing_bucket a {
    background: #196075;
    color: #a0dae6;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    display: block;
    width: 165px;
    text-align: center;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px 0;
  }

#sign_up_bucket {
  text-align: center;
}
  #sign_up_bucket h2 {
    background: url('/images/signup_headline.png') no-repeat;
    width: 143px;
    height: 45px;
    margin: 0 auto;
  }
  #sign_up_bucket a {
    background: #fcc146;
    color: #0c1327;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    display: block;
    width: 165px;
    text-align: center;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px 0;
  }

#feature_bucket h2 {
  background: url('/images/features_headline.png') no-repeat;
  width: 149px;
  height: 45px;
  margin: 0 auto;
}
#feature_bucket a {
  background: #196075;
  color: #a0dae6;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  display: block;
  width: 165px;
  text-align: center;
  border: none;
  margin: 0 auto;
  text-decoration: none;
  padding: 10px 0;
}

/* Sign up page */

#signup_buckets {
  margin: 0 auto;
}
#signup_buckets .bucket {
  float: left;
  width: 250px;
}
  #signup_buckets .bucket_content {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;  
    background: #196075;
    color: #fff;    
    padding: 30px 15px;
  }
  #signup_buckets h3 {
    color: #fcc146;
  }
#signup_features h2 {
  background: url('/images/features_headline.png') no-repeat;
  width: 149px;
  height: 39px;
  margin: 0 auto 36px;
}
#signup_form {
  margin: 0 75px;
}
  #signup_form h2 {
    background: url('/images/signup_headline.png') no-repeat;
    width: 143px;
    height: 45px;
    margin: 0 auto 30px;
  }
  #signup_form input {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 0;
    width: 200px;
  }
    #signup_form .field_with_errors input {
      border: 1px solid #ff0000;
    }
  #signup_disclaimer {
    color: #1b9dba;
    text-align: center;
  }
    #signup_disclaimer a, #signup_disclaimer a:visited {
      color: #fcc146;
      text-decoration: none;
    }
  #user_submit {
    background: #fcc146;
    color: #0c1327;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    display: block;
    width: 165px;
    text-align: center;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px 0;
  }
#signup_pricing {
  
}
  #signup_pricing h2 {
    background: url('/images/pricing_headline.png') no-repeat;
    width: 122px;
    height: 39px;
    margin: 0 auto 36px;
  }
  #signup_pricing ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
    #signup_pricing li {
      width: 190px;
    }
  #free_offer_badge {
    background: url('/images/free_offer_badge.png') no-repeat;
    width: 136px;
    height: 141px;
    margin: 25px auto 0;
  }
  
/* Features / about page */

#partners_page {
  
}
  #partners_page p {
    color: #fff;
    text-align: center;
    font-size: 14px;
  }
  #partners_page h1 {
    background: url('/images/features_page_headline.png') no-repeat;
    text-align: center;
    margin: 0 auto;
    width: 178px;
    height: 45px;
  }
  #partners_page ol {
    list-style-type: none;
    background: url('/images/feature_carousel_bg.png') no-repeat;
    width: 900px;
    height: 551px;
    margin: 50px auto;
  }
    #partners_page ol li {
      float: left;
      width: 225px;
      margin-top: 25px;
      font-size: 10px;
    }
      #partners_page ol li p {
        margin-top: 25px;
        padding: 15px;
        background: #2b9db9;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;          
      }
    li#feature_matches {
      margin-right: 50px;
    }
      li#feature_matches h3 {
        background: url('/images/features_matches_icon.png') no-repeat;
        width: 139px;
        height: 175px;
        margin: 0 auto;
      }
    li#feature_profile {
      margin: 0 25px;
    }
      li#feature_profile h3 {
        background: url('/images/features_profile_icon.png') no-repeat;
        width: 140px;
        height: 175px;
        margin: 0 auto;      
      }    
    li#feature_community {
      margin-left: 50px;
    }
      li#feature_community h3 {
        background: url('/images/features_community_icon.png') no-repeat;
        width: 144px;
        height: 175px;
        margin: 0 auto;      
      }
    li#feature_search {
      margin-right: 50px;
    }
      li#feature_search h3 {
        background: url('/images/features_search_icon.png') no-repeat;
        width: 140px;
        height: 176px;
        margin: 0 auto;
      }
    li#feature_inventory {
      margin: 0 25px;
    }
      li#feature_inventory h3 {
        background: url('/images/features_inventory_icon.png') no-repeat;
        width: 142px;
        height: 176px;
        margin: 0 auto;      
      }    
    li#feature_tutors {
      margin-left: 50px;
    }
      li#feature_tutors h3 {
        background: url('/images/features_tutors_icon.png') no-repeat;
        width: 144px;
        height: 175px;
        margin: 0 auto;      
      }      
  #about_columns {
    background: url('/images/about_dividers.png') no-repeat center top;
    margin: 50px auto;
  }
    #about_history, #about_culture, #about_mission {
      float: left;
      width: 230px;
      margin: 0 35px;      
    }
    .about_column {
      background: #e7e8e8;
      height: 445px;
      margin: 20px 0;
      padding: 15px;
    }
      .about_column p {
        color: #0f6076!important;
      }
    #about_history h2 {
      background: url('/images/history_headline.png') no-repeat;
      width: 119px;
      height: 35px;
      margin: 10px auto 0;
    }
    #about_culture h2 {
      background: url('/images/culture_headline.png') no-repeat;
      width: 123px;
      height: 35px;
      margin: 10px auto 0;
    }
    #about_mission h2 {
      background: url('/images/mission_headline.png') no-repeat;
      width: 117px;
      height: 35px;
      margin: 10px auto 0;
    }
  h2#partners_headline {
    background: url('/images/partners_headline.png') no-repeat;
    margin: 25px auto;
    width: 144px;
    height: 35px;
  }
  #partners {
    margin: 25px 0;
    background: #196075;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;  
    width: 900px;
    height: 200px;
  }
  #about_columns li p {
    font-size: 13px!important;
  }
  h2#about_section_headline {
    background: url('/images/about_section_headline.png') no-repeat;
    width: 91px;
    height: 35px;
    margin: 25px auto;
  }
  #about_column_first h3 {
    background: url('/images/history_headline.png') no-repeat;
    width: 119px;
    height: 35px;
    margin: 10px auto 0;    
  }
  #about_column_second {
    margin: 0 75px;
  }
  #about_column_second h3 {
    background: url('/images/culture_headline.png') no-repeat;
    width: 125px;
    height: 35px;
    margin: 10px auto 0;    
  }
  #about_column_third h3 {
    background: url('/images/mission_headline.png') no-repeat;
    width: 117px;
    height: 35px;
    margin: 10px auto 0;  
  }

/* Footer */

footer {
  border-top: 15px solid #196075;
  color: #fff;
  background: #0d1326;
  padding: 25px 0;
}

  #footercontent {
    width: 861px;
    margin: 0 auto;
  }
  footer h4 {
    color: #89cbd7;
  }
  footer a, footer a:visited {
    text-decoration: none;
    color: #fff;
  }
  footer a:hover {
    color: #fcc146;
    text-decoration: none;
  }
  .footerbucket {
    float: left;
    width: 262px;
  }
    #footer_navigation {
      width: 263px;
    }
    #footer_feedback {
      width: 300px;
      margin-right: 36px;
    }
    #footer_social {
      width: 261px;
    }
  footer nav a {
    display: block;
  }
  #footer_facebook {
    background: url('/images/footer_facebook.png') no-repeat;
    width: 41px;
    height: 43px;
    float: left;
    padding-right: 10px;
  }
  #footer_twitter {
    background: url('/images/footer_twitter.png') no-repeat;
    width: 46px;
    height: 43px;
    float: left;
    padding-right: 10px;    
  }
  #footer_blog {
    background: url('/images/footer_blog.png') no-repeat;
    width: 46px;
    height: 43px;
    float: left;
  }
  #feedback_submit {
    background: #fcc146;
    color: #0c1327;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    width: 115px;
    height: 30px;
    text-align: center;
    border: none;
  }
  #copyright {
    background: url('/images/legal_background.png') no-repeat center center;
    color: #a3dae5;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
  }
    #copyright a {
      text-decoration: none;
      color: #a3dae5;
    }
  










/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}
