Hello <%= @user.name %>,

Here's your password recovery link. Click on it below to change your password. If you didn't request this, just ignore this email and no change will be made.

<%= reset_form_url(@user.recovery) %>

Cheers,
RoommateMe