Dear <%= @user.name %>,

I want to congratulate you on your decision to join the RoommateMe network and welcome you to our online community!  At RoommateMe.Net you have the ability to optimize your life, whether you are a college student or a recent graduate new to the professional world.  

At RoommateMe.Net you can find a roommate which will fit your lifestyle, personality and beliefs, search for tutors, as well as browse our community partners to find specials on restaurants and local venues. If you need items for your room or apartment, our Inventory application provides you with the ability to purchase items from affiliate companies, delivered right to your door. 

We encourage you to take the time to browse through our site and become familiar with all our applications.  The power to enhance and optimize your college and professional life is at your fingertips!  We look forward to helping you live your life to the fullest and maximize your potential!  If there is anything you feel should be added to RoommateMe's current offerings, please use the feedback fields at the bottom of the home page or dashboard pages.

To get started, activate your account now by clicking this link: <%= activate_url(@user.activate_token) %>

We look forward to working with you and are very excited to welcome you to the RoommateMe family.

Sincerely,

George Farhat
CEO and Founder