<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">Profile</li>
          <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="edit-profile">
    <div class="container">
      <div class="form-wrapper">
        <%= form_for @user, :html => {:multipart => true} do |f| %>
	        <div class="row">
	          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
	            <div class="category-box text-center">
	              <div class="image-upload img-wrapper text-center">
	              	<label for="file-input">
	                	<%= image_tag @user.avatar_url(:big), class: "img-fluid" %>
                	</label>
                	<%= f.file_field :avatar, id: "file-input", accept: "image/*" %>
	              </div>
	              <div class="img-heading main-heading">
	              	<% if @user.errors[:avatar].present? %>
				            <span style="color: red;"><%= @user.errors[:avatar].first %></span>
				          <% end %>
	                <h2>upload a photo</h2>
	                <p>from you computer</p>
	                (must be less than 2.5 MB)
	              </div>
	            </div>
	          </div>
	          <div class="col-lg-9 col-md-12 col-sm-12 col-12">
	            <div class="category-box">
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="name">Name</label>
	                  <%= f.text_field :name, class: "form-control", placeholder: "" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="email">Email</label>
	                  <%= f.email_field :email, class: "form-control", placeholder: "" %>
	                  <% if @user.errors[:email].present? %>
					            <span style="color: red;"><%= @user.errors[:email].first %></span>
					          <% end %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="password">Password</label>
	                  <%= f.password_field :password, autocomplete: :off, class: "form-control" %>
	                  <% if @user.errors[:password].present? %>
					            <span style="color: red;"><%= @user.errors[:password].first %></span>
					          <% end %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="cpassword">Password Confirmation</label>
	                  <%= f.password_field :password_confirmation, autocomplete: :off, class: "form-control" %>
	                  <% if @user.errors[:password_confirmation].present? %>
					            <span style="color: red;"><%= @user.errors[:password_confirmation].first %></span>
					          <% end %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="sex">Sex</label>
	                  <%= f.select :sex, options_for_select(["Male", "Female"], f.object.sex), {include_blank: "Choose..."}, class: "form-control" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="dob">Date of Birth</label>
	                  <%= f.date_field :dob, class: "form-control", placeholder: "" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label>Do I need a roommate?</label><br />
	                  <div class="form-check form-check-inline">
	                    <%= f.radio_button :needs_roommate, true, class: "form-check-input" %>
	                    <label class="form-check-label" for="exampleRadios1">
	                      Yes
	                    </label>
	                  </div>
	                  <div class="form-check form-check-inline">
	                    <%= f.radio_button :needs_roommate, false, class: "form-check-input" %>
	                    <label class="form-check-label" for="exampleRadios2">
	                      No
	                    </label>
	                  </div>
	                </div>
	                <div class="form-group col-md-6">
	                  <label>Am I willing to move?</label><br />
	                  <div class="form-check form-check-inline">
	                    <%= f.radio_button :willing_to_move, true, class: "form-check-input" %>
	                    <label class="form-check-label" for="exampleRadios3">
	                      Yes
	                    </label>
	                  </div>
	                  <div class="form-check form-check-inline">
	                    <%= f.radio_button :willing_to_move, false, class: "form-check-input" %>
	                    <label class="form-check-label" for="exampleRadios4">
	                      No
	                    </label>
	                  </div>
	                </div>
	              </div>
	              <!-- <div class="form-row">
	                <div class="form-group col-md-12">
	                  <%#= f.label :address %>
	                  <%#= f.text_field :address, class: "form-control" %>
	                  <%# if @user.errors[:address].present? %>
					            <span style="color: red;"><%#= @user.errors[:address].first %></span>
					          <%# end %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <%#= f.label :city %>
	                  <%#= f.text_field :city, class: "form-control" %>
	                  <%# if @user.errors[:address].present? %>
					            <span style="color: red;"><%#= @user.errors[:address].first %></span>
					          <%# end %>
	                </div>
	                <div class="form-group col-md-6">
	                  <%#= f.label :state %>
	                  <%#= f.text_field :state, class: "form-control" %>
	                  <%# if @user.errors[:state].present? %>
					            <span style="color: red;"><%#= @user.errors[:state].first %></span>
					          <%# end %>
	                </div>
	                <div class="form-group col-md-6">
	                  <%#= f.label :country %>
	                  <%#= f.text_field :country, class: "form-control" %>
	                  <%# if @user.errors[:country].present? %>
					            <span style="color: red;"><%#= @user.errors[:country].first %></span>
					          <%# end %>
	                </div>
	                <div class="form-group col-md-6">
	                  <%#= f.label :zipcode %>
	                  <%#= f.text_field :zipcode, class: "form-control" %>
	                  <%# if @user.errors[:zipcode].present? %>
					            <span style="color: red;"><%#= @user.errors[:zipcode].first %></span>
					          <%# end %>
	                </div>
	              </div> -->
	              <div class="form-row">
	                <div class="form-group col-md-12">
	                  <label for="textarea">Textarea</label>
	                  <%= f.text_area :about_me, rows: 5, class: "form-control" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="ideal_roommate">Ideal Roommate</label>
	                  <%= f.text_field :perfect_roommate, class: "form-control" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="activities">Activities</label>
	                  <%= f.text_field :activities, class: "form-control" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="majorx">Majorx</label>
	                  <%= f.text_field :major, class: "form-control" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="ethnicity">Ethnicity</label>
	                  <%= f.text_field :ethnicity, class: "form-control" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="languages">Languages</label>
	                  <%= f.text_field :languages, class: "form-control" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="religion">Religion</label>
	                  <%= f.text_field :religion, class: "form-control" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="music">Music</label>
	                  <%= f.text_field :music, class: "form-control" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="birthtown">Birthtown</label>
	                  <%= f.text_field :birthtown, class: "form-control" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="shows">Shows</label>
	                  <%= f.text_field :shows, class: "form-control" %>
	                </div>
	              </div>
	            </div>
	            <div class="category-box">
	              <h4>Social</h4>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="facebook">Facebook</label>
	                  <%= f.text_field :facebook, class: "form-control" %>
	                  <% if @user.errors[:facebook].present? %>
					            <span style="color: red;"><%= @user.errors[:facebook].first %></span>
					          <% end %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="aim">Aim</label>
	                  <%= f.text_field :aim, class: "form-control" %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="yahoo">Yahoo</label>
	                  <%= f.text_field :yahoo, class: "form-control" %>
	                  <% if @user.errors[:yahoo].present? %>
					            <span style="color: red;"><%= @user.errors[:yahoo].first %></span>
					          <% end %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="msn">Msn</label>
	                  <%= f.text_field :msn, class: "form-control" %>
	                  <% if @user.errors[:msn].present? %>
					            <span style="color: red;"><%= @user.errors[:msn].first %></span>
					          <% end %>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label for="space">Myspace</label>
	                  <%= f.text_field :myspace, class: "form-control" %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label for="websites">Websites</label>
	                  <%= f.text_field :websites, class: "form-control" %>
	                  <% if @user.errors[:websites].present? %>
					            <span style="color: red;"><%= @user.errors[:websites].first %></span>
					          <% end %>
	                </div>
	              </div>
	            </div>
	            <div class="main-btn text-center">
	              <%= f.button "Save Changes", type: "submit", class: "btn btn-primary" %>
	            </div>
	          </div>
	        </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
