<div class="page">
    <section class="page-banner">
        <div class="container container-w80">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inventory</li>
                </ol>
            </nav>

            <div class="page-heading">
                <h2>Inventory</h2>
            </div>
        </div>
    </section>

    <section class="inventory search-result">
        <div class="container container-w80">

            <div class="search-category">
              <div class="main-heading text-left">
                  <h2>You have <%= pluralize(current_user.owned_items.count , "item") %></h2>
              </div>
              <div class="card-wrapper matches">
                <div class="row">
                	<% current_user.owned_items.each do |item| %>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                      <div class="card">
                        <div class="img-wrapper">
                            <%= image_tag item.image_url(:big), class: "img-fluid" %>
                        </div>
                        <div class="desc">
                            <h5><%= link_to item.name, item_categories_path(item.item_category.name) %></h5>
                            <p><%= item.description %></p>
                            <div class="main-btn">
                                <%= link_to "Remove", inventory_have_delete_path(item), :method => :delete, :confirm => "Are you sure you want to remove this as a wanted item?", class: "btn btn-sm" %>
                            </div>
                        </div>
                      </div>
                    </div>
                  <% end %>

                  <% if current_user.owned_items.count == 0 %>
                  	<p>You have no owned items yet! <%= link_to 'Search to add now!', search_path %></p>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="search-category">
              <div class="main-heading text-left">
                  <h2>You want <%= pluralize(current_user.wanted_items.count , "item") %></h2>
              </div>
              <div class="card-wrapper matches">
                <div class="row">
                	<% current_user.wanted_items.each do |item| %>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                      <div class="card">
                        <div class="img-wrapper">
                            <%= image_tag item.image_url(:big), class: "img-fluid" %>
                        </div>
                        <div class="desc">
                            <h5><%= link_to item.name, item_categories_path(item.item_category.name) %></h5>
                            <p><%= item.description %></p>
                            <div class="main-btn">
                                <%= link_to "Remove", inventory_want_delete_path(item), :method => :delete, :confirm => "Are you sure you want to remove this as a wanted item?", class: "btn btn-sm" %>
                            </div>
                        </div>
                      </div>
                    </div>
                  <% end %>

                  <% if current_user.wanted_items.count == 0 %>
                  	<p>You have no owned items yet! <%= link_to 'Search to add now!', search_path %></p>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="add-item">
              <div class="">
                <div class="main-heading text-left">
                  <h2>Find an item to add to your inventory</h2>
                </div>

                <div class="content text-center">
                  <div class="">
                    <div class="">
                      <div class="slider">
                      	<% @item_categories.each do |category| %>
                          <div class="card">
                            <div class="img-wrapper">
                                <!-- <img class="img-fluid" src="dist/images/beds.svg"> -->
                            </div>
                            <div class="desc">
                              <h5><%= link_to category.name, item_categories_path(category.name) %></h5>
                            </div>
                          </div>
												<% end %>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>


        </div>
    </section>



</div>