<div class="page">
  <section class="sign-in">
    <div class="bg-img">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6 col-sm-12 col-12">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="form-wrapper">
              <div class="main-heading text-left">
                <h2>Recover Password</h2>
              </div>
              <div class="message-form">
              	<% if flash[:notice].present? %>
                  <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= flash[:notice] %>
                  </div>
                <%
                  flash[:notice] = ""
                 end
                 %>
								<%= form_tag send_recovery_path do %>
									<div class="form-group">
										<%= label_tag :email %>
										<%= email_field_tag :email, "", class: "form-control" %>
									</div>
									<div class="main-btn text-left">
										<%= button_tag "Recover Password", type: "submit", class: "btn btn-primary" %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>