<h2>Reset Password</h2>

<%= form_for @user, :url => reset_password_path do |f| %>
	<% if @user.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@user.errors.count, "error") %> prohibited your password from being reset:</h2>

	    <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= f.hidden_field :recovery %>
	
	<p><%= f.label :password, "New Password" %><br />
	<%= f.password_field :password %></p>
	
	<p><%= f.label :password_confirmation, "Please confirm your new password" %><br />
	<%= f.password_field :password_confirmation %></p>
	
	<p><%= f.submit "Reset" %></p>
<% end %>