<!-- <div id="profile_page" class="clearfix"> -->
	<!-- <h2 class="ir">Profile</h2> -->
	<%# if @isDashboard && (@new_friend_requests > 0 || @new_messages > 0) %>
	<!-- <div id="update"> -->
    <%# if @new_friend_requests > 0 %>
    	<!-- <p>You have <%#= link_to pluralize(@new_friend_requests, "pending friend requests"), user_friends_path(current_user) %>.</p> -->
  	<%# end %>
    <%# if @new_messages > 0 %>
    	<!-- <p>You have <%#= link_to pluralize(@new_messages, "new messages"), messages_path %>.</p> -->
  	<%# end %>
	<!-- </div> -->
	<%# end %>
	<!-- <div id="profile_info"> -->
		<%#= render "users/show/core", :user => @user %>
	<!-- </div> -->
	
	<!-- <div id="profile_about"> -->
		<%#= render "users/show/info", :user => @user %>
		<%#= render "users/show/websites", :user => @user%>
	<!-- </div> -->
	
	<!-- <div id="profile_friends"> -->
		<%#= render "users/show/friends", :user => @user %>
		<%#= render "users/show/matches", :user => @user %>
		<%# render "users/show/inventoryitems", :user => @user %>
	<!-- </div> -->
<!-- </div> -->


<div class="page">
	<section class="basic-info">
		<%= render "users/show/core", :user => @user %>
	</section>
	<section class="profile-detail">
		<%= render "users/show/info", :user => @user %>
	</section>
	<section class="friends-slider home-slider">
		<%= render "users/show/friends", :user => @user %>
		<%= render "users/show/matches", :user => @user %>
	</section>
	<section class="friends-slider home-slider">
		<% render "users/show/inventoryitems", :user => @user %>
	</section>
</div>