<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%=link_to "Home", root_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Community</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="community">
    <div class="container container-w80">
      <div class="main-heading text-left">
        <h2>Community</h2>
      </div>
      <div class="content">
        <h4><%=link_to 'Community Partners', community_partners_path %></h4>
        <p>If you're looking for something fun to do, look no further.</p>
        <h4><%=link_to 'Affiliates', affiliates_path %></h4>
        <p>Need to pick up something for your new dorm room, or get basic supplies? Shop with our affiliates.</p>
        <h4><%=link_to 'Tutors', tutors_path %></h4>
        <p>Want help getting or keeping that GPA up? Worried about a hard class? Help is here.</p>
      </div>
    </div>
  </section>
</div>