<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="about-intro">
    <div class="intro-content">
      <div class="container container-w80">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="content">
              <div class="main-heading">
                <h2>ABOUT</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="highlights">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="img">
              <%= image_tag "history.png", class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 col-12">
            <div class="desc">
              <h4>Our Story</h4>
              <p>We were born out of a need to give college students a better roommate experience. Our founder, George Farhat, attended a university where the roommate matching process focused on demographic and career path information. After living with his first roommate for a few weeks, George realized that their lifestyles, college goals, and social behavior did not align and he needed to find someone who was a better fit. Through hundreds of conversations with classmates, friends, and people outside of college looking for a roommate, it became apparent that the majority of roommate relationships were strained. There were no applications available to help him and others with the process of finding a new roommate, so he decided to work on a solution. Along with a team of experts, George started working on RoommateMe, a roommate matching service that addressed all the factors needed to build successful roommate relationships at any age and enabled community building.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="img">
              <%= image_tag "mission.png", class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 col-12">
            <div class="desc">
              <h4>Our Mission</h4>
              <p>We are passionate about enhancing your living environment through unique roommate matching tools that introduce you to optimal living companions and opportunities to connect with your community. Our mission is to facilitate your roommate search and onboarding process while building community around you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="img">
              <%= image_tag "culture.png", class: "img-fluid" %>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12 col-12">
            <div class="desc">
              <h4>Our Culture</h4>
              <p>We are driven by our commitment to understanding how to build successful living environments, interpersonal relationships, and community. We know that the rent budget is just one of many factors to consider when finding a roommate. We look into the lifestyle, ethical values, and social behavior of every potential roommate match, and we are happy to do it because we know we are giving you the best shot at a great living experience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-features">
    <div class="">
      <div class="heading">
        <div class="container">
          <div class="img text-center">
            <%= image_tag "features.png", class: "img-fluid" %>
          </div>
          <div class="main-heading">
            <h2>Features</h2>
            <p>RoommateMe provides an unprecedented array of user applications and networking possibilities. Whether you’re in search of a roommate, looking for a tutor, or interested in networking with the local college community – RoommateMe is your resource. We encourage you to explore our application options.
            </p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card align-items-center">
                <div class="icon-container">
                  <%= image_tag "matches.png", class: "img-fluid" %>
                </div>
                <div class="desc">
                  <h5>Matches</h5>
                  <p>Compatibility networking is the crux of RoommateMe’s founding. We pride ourselves on offering the most effective means of bringing roommates together via research and consultation with leading psychologists. If you’re in need of a roommate, this application is undoubtedly your best online resource.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <div class="icon-container">
                  <%= image_tag "profile.png", class: "img-fluid" %>
                </div>
                <div class="desc">
                  <h5>Profile</h5>
                  <p>Compatibility networking is the crux of RoommateMe’s founding. We pride ourselves on offering the most effective means of bringing roommates together via research and consultation with leading psychologists. If you’re in need of a roommate, this application is undoubtedly your best online resource.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <div class="icon-container">
                  <%= image_tag "community.png", class: "img-fluid" %>
                </div>
                <div class="desc">
                  <h5>Community</h5>
                  <p>Compatibility networking is the crux of RoommateMe’s founding. We pride ourselves on offering the most effective means of bringing roommates together via research and consultation with leading psychologists. If you’re in need of a roommate, this application is undoubtedly your best online resource.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <div class="icon-container">
                  <%= image_tag "search.png", class: "img-fluid" %>
                </div>
                <div class="desc">
                  <h5>search</h5>
                  <p>Compatibility networking is the crux of RoommateMe’s founding. We pride ourselves on offering the most effective means of bringing roommates together via research and consultation with leading psychologists. If you’re in need of a roommate, this application is undoubtedly your best online resource.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <div class="icon-container">
                  <%= image_tag "inventory.png", class: "img-fluid" %>
                </div>
                <div class="desc">
                  <h5>Inventory</h5>
                  <p>Compatibility networking is the crux of RoommateMe’s founding. We pride ourselves on offering the most effective means of bringing roommates together via research and consultation with leading psychologists. If you’re in need of a roommate, this application is undoubtedly your best online resource.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <div class="icon-container">
                  <%= image_tag "tutors.png", class: "img-fluid" %>
                </div>
                <div class="desc">
                  <h5>Tutors</h5>
                  <p>Compatibility networking is the crux of RoommateMe’s founding. We pride ourselves on offering the most effective means of bringing roommates together via research and consultation with leading psychologists. If you’re in need of a roommate, this application is undoubtedly your best online resource.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>