<!-- <br />

<p id="landing_illustration" class="ir">Search for and find the perfect roommate.</p>

<div id="landing_blurb">
  <p>We are passionate about providing a unique networking environment in which great roommates and lasting friendships can be found. <%#= link_to "See how it all works.", register_path %></p>
</div>

<div id="landing_buckets" class="clearfix">
  <div class="bucket" id="feature_bucket">
    <h2 class="ir">Features</h2>
    <div class="bucket_content">
      <ul>
        <li>Roommate match guarantee</li>
        <li>Matches based on psychological compatibility</li>
        <li>Service is independent of any university</li>
      </ul>
    </div>
    <%#= link_to "More Features", about_path %>
  </div>
  
  <div class="bucket" id="sign_up_bucket">
    <h2 class="ir">Sign Up</h2>
    <div class="bucket_content">
      <p>Sign up today to build your account and access some great features!</p>
      <p>Right away you can find a tutor for a difficult class, search our inventory for room furnishings, or learn more about our sponsors!</p>
    </div>
    <%#= link_to "Sign Up", register_path %>
  </div>
  
  <div id="pricing_bucket" class="bucket">
    <h2 class="ir">Pricing</h2>
    <div class="bucket_content">
      <ul>
        <li id="free_plan">Access tutors, inventory listings, and our partner companies</li>
        <li id="free_plan">All of the above &amp; access to roommate matching services</li>
        <%# <li id="paid_plan">All of the above &amp; access to roommate matching services</li> %>
      </ul>
    </div>
    <%#= link_to "More Info", about_path %>
  </div>
</div> -->




<section class="home-banner">
  <div class="container container-w80">
    <div class="row align-items-center">
      <div class="col-lg-2 col-md-3 col-sm-6 col-6 text-center order-1">
        <%#= image_tag "banner-left-img.png", class: "img-fluid banner-img" %>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 col-12 search-bg order-2">
        <div class="search-form text-center">
          <div class="main-heading">
            <h1>Looking for a roommate<br/> or<br/> a room?</h1>
            <h2>Search your perfect match</h2>
          </div>
          <form>
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <select id="inputState" class="form-control">
                  <option selected>I am looking</option>
                  <option>Dummy 1</option>
                  <option>Dummy 2</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" placeholder="Enter your city">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" placeholder="Enter your zipcode">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6 text-center order-3">
        <%#= image_tag "girl.png", class: "img-fluid banner-img" %>
      </div>
    </div>
  </div>
  <%= image_tag "round-pattern2.png", class: "img-fluid bg-img1" %>
  <%= image_tag "round-patterns.png", class: "img-fluid bg-img2" %>
</section>
<section class="browse-link" style="display: none;">
  <div class="container">
    <div class="content">
      <div class="main-heading text-left">
        <h2>Looking for a roommate?</h2>
        <!-- <p>Over 2,000 rooms</p> -->
      </div>
      <div class="main-btn">
        <a class="btn btn-primary" href="#">browse people</a>
      </div>
    </div>
  </div>
</section>
<section class="work">
  <div class="container container-w80">
    <div class="main-heading">
      <h2>How it Works</h2>
      <p>We are passionate about enhancing your living environment through unique roommate matching tools that introduce you to optimal living companions and opportunities to connect with your community.</p>
    </div>
    <div class="">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="img">
              <%= image_tag "how-it-work-icon.png", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Find your Match</h5>
              <p class="card-text">Do you want to elevate your living environment and find a roommate who matches your values and lifestyle? Answer our counselor and psychologist-vetted survey to match you with your next roommate.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="img">
              <%= image_tag "how-it-work-icon.png", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Find a Room</h5>
              <p class="card-text">Collaborate with your newly matched roommate to find your next living space. Do you already have a roommate and now need to find a space to share? We can help with that as well.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="img">
              <%= image_tag "how-it-work-icon.png", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Stay Connected</h5>
              <p class="card-text">Exchange private messages with potential roommates and community-building enthusiasts. Are you expecting to live with two or more people? Our group chat allows you to make those connections.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="img">
              <%= image_tag "how-it-work-icon.png", class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Community Partners</h5>
              <p class="card-text">With built-in security features and access to counseling, legal, interior designing, moving services and more, we bring community to your doorstep.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "round.png", class: "img-fluid bg-img1" %>
  <%= image_tag "round1.png", class: "img-fluid bg-img2" %>
</section>
<!-- <section class="home-slider">
  <div class="">
    <div class="main-heading">
      <h2>Potential roommates near you.</h2>
      <p>Take our personality and values survey and be matched with who is best suited for you.</p>
    </div>
    <div class="content text-center">
      <div class="container container-w80">
        <div class="">
          <div class="slider">
            <div class="card">
              <div class="img">
                <%#= image_tag "student1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Facilisis nulla</h5>
                <p>M30 Los angeles</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%#= image_tag "student2.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Facilisis nulla</h5>
                <p>M30 Los angeles</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%#= image_tag "student3.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Facilisis nulla</h5>
                <p>M30 Los angeles</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%#= image_tag "student4.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Facilisis nulla</h5>
                <p>M30 Los angeles</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%#= image_tag "student5.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Facilisis nulla</h5>
                <p>M30 Los angeles</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%#= image_tag "student1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Facilisis nulla</h5>
                <p>M30 Los angeles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-btn">
        <a class="btn btn-primary" href="#">Get started</a>
      </div>
    </div>
  </div>
</section>
<section class="tagline">
  <p>With 1 out of 3 people renting and potentially looking for a roommate, we ensure a hassle-free process and the right match for you.</p>
</section> -->
<section class="listing-slider" style="display: none;">
  <div class="container container-w80">
    <div class="main-heading text-left">
      <h2>Latest Room Listings</h2>
    </div>
    <div class="content text-center">
      <div class="">
        <div class="">
          <div class="slider">
            <div class="card">
              <div class="img">
                <%= image_tag "room1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <div class="name">
                  <h5 class="card-title">Facilisis nulla</h5>
                  <p>Age: 32</p>
                </div>
                <p>Looking for 1 professional roomate</p>
                <p>(Veg)</p>
                <p class="price">$500/month</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%= image_tag "room1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <div class="name">
                  <h5 class="card-title">Facilisis nulla</h5>
                  <p>Age: 32</p>
                </div>
                <p>Looking for 1 professional roomate</p>
                <p>(Veg)</p>
                <p class="price">$500/month</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%= image_tag "room1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <div class="name">
                  <h5 class="card-title">Facilisis nulla</h5>
                  <p>Age: 32</p>
                </div>
                <p>Looking for 1 professional roomate</p>
                <p>(Veg)</p>
                <p class="price">$500/month</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%= image_tag "room1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <div class="name">
                  <h5 class="card-title">Facilisis nulla</h5>
                  <p>Age: 32</p>
                </div>
                <p>Looking for 1 professional roomate</p>
                <p>(Veg)</p>
                <p class="price">$500/month</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%= image_tag "room1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <div class="name">
                  <h5 class="card-title">Facilisis nulla</h5>
                  <p>Age: 32</p>
                </div>
                <p>Looking for 1 professional roomate</p>
                <p>(Veg)</p>
                <p class="price">$500/month</p>
              </div>
            </div>
            <div class="card">
              <div class="img">
                <%= image_tag "room1.jpg", class: "card-img-top" %>
              </div>
              <div class="card-body">
                <div class="name">
                  <h5 class="card-title">Facilisis nulla</h5>
                  <p>Age: 32</p>
                </div>
                <p>Looking for 1 professional roomate</p>
                <p>(Veg)</p>
                <p class="price">$500/month</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="listing" style="display: none;">
  <div class="container container-w80">
    <div class="main-heading text-left">
      <h2>Latest listing</h2>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "room1.jpg", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <div class="name">
              <h5 class="card-title">Facilisis nulla</h5>
              <p>Age: 32</p>
            </div>
            <p>Looking for 1 professional roomate</p>
            <p>(Veg)</p>
            <p class="price">$500/month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "room2.jpg", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <div class="name">
              <h5 class="card-title">Facilisis nulla</h5>
              <p>Age: 32</p>
            </div>
            <p>Looking for 1 professional roomate</p>
            <p>(Veg)</p>
            <p class="price">$500/month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "room3.jpg", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <div class="name">
              <h5 class="card-title">Facilisis nulla</h5>
              <p>Age: 32</p>
            </div>
            <p>Looking for 1 professional roomate</p>
            <p>(Veg)</p>
            <p class="price">$500/month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "room4.jpg", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <div class="name">
              <h5 class="card-title">Facilisis nulla</h5>
              <p>Age: 32</p>
            </div>
            <p>Looking for 1 professional roomate</p>
            <p>(Veg)</p>
            <p class="price">$500/month</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "room5.jpg", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <div class="name">
              <h5 class="card-title">Facilisis nulla</h5>
              <p>Age: 32</p>
            </div>
            <p>Looking for 1 professional roomate</p>
            <p>(Veg)</p>
            <p class="price">$500/month</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-btn text-right">
      <a class="btn-link" href="#">View More</a>
    </div>
  </div>
</section>
<section class="testimonial-slider">
  <div class="container">
    <div class="main-heading">
      <h2>Testimonials</h2>
    </div>
    <div class="content text-center">
      <div class="">
        <div class="">
          <div class="slider">
            <div class="card-wrapper">
              <div class="card">
                <div class="img">
                  <%= image_tag "testimonial.png", class: "card-img-top" %>
                </div>
                <div class="card-body">
                  <p class="card-text">Nulla eget enim facilisis nulla pellentesque placeat et et orci. Ifermentum congue. Praesent ultries, finibus orci vitae, vestibulum mauris.</p>
                </div>
              </div>
              <div class="post">
                <h5>Elena</h5>
                <p>Found a Room</p>
              </div>
            </div>
            <div class="card-wrapper">
              <div class="card">
                <div class="img">
                  <%= image_tag "testimonial.png", class: "card-img-top" %>
                </div>
                <div class="card-body">
                  <p class="card-text">Nulla eget enim facilisis nulla pellentesque placeat et et orci. Ifermentum congue. Praesent ultries, finibus orci vitae, vestibulum mauris.</p>
                </div>
              </div>
              <div class="post">
                <h5>Elena</h5>
                <p>Found a Room</p>
              </div>
            </div>
            <div class="card-wrapper">
              <div class="card">
                <div class="img">
                  <%= image_tag "testimonial.png", class: "card-img-top" %>
                </div>
                <div class="card-body">
                  <p class="card-text">Nulla eget enim facilisis nulla pellentesque placeat et et orci. Ifermentum congue. Praesent ultries, finibus orci vitae, vestibulum mauris.</p>
                </div>
              </div>
              <div class="post">
                <h5>Elena</h5>
                <p>Found a Room</p>
              </div>
            </div>
            <div class="card-wrapper">
              <div class="card">
                <div class="img">
                  <%= image_tag "testimonial.png", class: "card-img-top" %>
                </div>
                <div class="card-body">
                  <p class="card-text">Nulla eget enim facilisis nulla pellentesque placeat et et orci. Ifermentum congue. Praesent ultries, finibus orci vitae, vestibulum mauris.</p>
                </div>
              </div>
              <div class="post">
                <h5>Elena</h5>
                <p>Found a Room</p>
              </div>
            </div>
            <div class="card-wrapper">
              <div class="card">
                <div class="img">
                  <%= image_tag "testimonial.png", class: "card-img-top" %>
                </div>
                <div class="card-body">
                  <p class="card-text">Nulla eget enim facilisis nulla pellentesque placeat et et orci. Ifermentum congue. Praesent ultries, finibus orci vitae, vestibulum mauris.</p>
                </div>
              </div>
              <div class="post">
                <h5>Elena</h5>
                <p>Found a Room</p>
              </div>
            </div>
            <div class="card-wrapper">
              <div class="card">
                <div class="img">
                  <%= image_tag "testimonial.png", class: "card-img-top" %>
                </div>
                <div class="card-body">
                  <p class="card-text">Nulla eget enim facilisis nulla pellentesque placeat et et orci. Ifermentum congue. Praesent ultries, finibus orci vitae, vestibulum mauris.</p>
                </div>
              </div>
              <div class="post">
                <h5>Elena</h5>
                <p>Found a Room</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial">
  <div class="container">
    <div class="main-heading">
      <h2>We know to consider more than just your rent budget</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "testimonial.png", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <p class="card-text">Cleanliness, usual bedtime, workday routine and other living habits are all considered in our roommate-matching service.</p>
          </div>
        </div>
        <div class="post">
          <h5>Lifestyle</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "testimonial.png", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <p class="card-text">Sharing similar values is also at the forefront of a successful roommate relationship. What would your roommate do if they found some extra cash laying around the apartment?</p>
          </div>
        </div>
        <div class="post">
          <h5>Ethical Values</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="card">
          <div class="img">
            <%= image_tag "testimonial.png", class: "card-img-top" %>
          </div>
          <div class="card-body">
            <p class="card-text">How often do you have people over? Do you expect a lot of out of town visitors? Have you asked past roommates these types of questions before rooming together? We do that for you!</p>
          </div>
        </div>
        <div class="post">
          <h5>Social behavior</h5>
        </div>
      </div>
    </div>
  </div>
</section>