<div id="matches_listing" class="clearfix">
  <div id="terms_of_service">
    <p>Welcome to RoommateMe.Net. Please read the following Term of Use (TOU) before continuing to use our site. By using RoommateMe.Net you are agreeing to all terms and conditions contained in this Terms of Use document and certify that you have read and will comply with all terms and conditions laid out in it and the Privacy Policy. If you do not agree to these Terms of Use in full do not use the RoommateMe.Net. Any continued usage constitutes agreement and acceptance to these terms in their entirety.</p>
    <p>
      1. ACCEPTANCE OF TERMS
      <p>RoommateMe LLC owns and operates RoommateMe.Net. Our Terms of Use contain the conditions and terms under which our services are provided to you, the user, and under which you agree to use our site. We may update our Terms of Use, without notice, as we deem necessary. It is the user’s responsibility to remain knowledgeable of the current Terms of Use in order to remain in compliance with the current conditions and rules. You are responsible to observe and follow other rules which we may post throughout the site and which are not included within these Terms of Use.</p>
      <p>This document is an electronic contract between you and RoommateMe.Net, LLC. By registering on this site and using our services you agree to be bound by these TOU.</p>
      <p>By using this website you represent and warrant that you have the right, capacity, and authority to enter into this contract with RoommateMe LLC and to abide by all the terms and agreements contained in the contract.</p>
      <p>You have the right to request a copy of this contract in printed form. If you wish a printed copy, please contact RoommateMe email or to request a copy or mail a self-addressed and stamped envelope to:</p>
      <p>RoommateMe LLC</p>
      <p>
        3745 Churchill Ave.</p>
      <p>
        Baton Rouge, LA 70808</p>
      <p>2. WHAT WE DO</p>
      <p>We provide roommate resources and a social networking platform through which users can screen potential roommates, network with friends and acquaintances, buy and sell items, locate events of interest in the area, and discuss topics relevant to the user. We will refer to these as our “Services.” The services which we provide are &quot;AS-IS&quot; and we are not responsible for information originating from others (including, but not limited to users and third party advertisers) which have posted on our site.</p>
      <p>Any and all costs associated with accessing this site, are the sole responsibility of the user.</p>
      <p>WE DO NOT GUARANTEE THE ACCURACY OF ANY INFORMATION POSTED ON THIS SITE NOR ANY INFORMATION REGARDING ANY USERS OF THIS SITE. WE HAVE NO WAY TO SCREEN OR VERIFY THE ACCURACY OF INFORMATION PROVIDED TO US BY A USER. USERS SHOULD EXERCISE CAUTION AT ALL TIMES WHEN GIVING OUT PERSONAL INFORMATION TO ANYONE ON THE INTERNET OR WHEN POSTING INFORMATION IS PUBLIC FORUMS MESSAGE BOARDS, OR CHAT ROOMS WHERE OTHER USERS MAY USE THE INFORMATION TO HARM, HARASS OR OTHERWISE USE THE INFORMATION AGAINST THEM.</p>
      <p>The content of this site may at time be adult or mature in nature at times. You must be at least 18 years of age or have the consent of your legal guardian to use the services provided by RoommateMe.Net.</p>
      <p>
        3. FEES AND COSTS</p>
      <p>RoommateMe.Net provides services that help the user search for and find a compatible roommate (Phase 1). We also provide continuing Residence Hall Networking services once the user is settled into their apartment or residence hall (Phase 2). Basic membership is free. However, there is a $15 Roommate Networking fee per academic year which allows the user to connect with potential roommates. Once the user has found a compatible roommate, they can use the Residence Hall Networking services, which are free to members. If a user wishes to find and connect with a new roommate in a later academic year, they will be required to pay the $15 roommate networking fee again.</p>
      <p>
        4. YOUR MEMBERSHIP OBLIGATIONS</p>
      <p>Through the use of this site you certify that are 18 years of age or older (or your legal guardian) and you agree that any information that you provide to us (or others through this site) is true, accurate, current and complete, and you agree to maintain and promptly update the Membership Information to keep it true, accurate, current and complete. We reserve the right to suspend, delete, or terminate your account, at any time, if we determine or believe that you have provided information that is inaccurate, untrue, misleading, non-current, and/or incomplete.</p>
      <p>
        5. MEMBER ACCOUNT, PASSWORD AND SECURITY</p>
      <p>You as the end user will create a unique login ID and password. You may change the password as you wish, but you are responsible to safeguard the password. Do not tell others your password or allow others to post from your account. You have sole responsible for any and all activities that occur under your account. You agree to protect and safeguard it against unauthorized use. You must immediately contact us if you believe that your account has been used without authorization or in a way which violates any laws, regulations, or security. You must log off your account following each session to maintain security of your account. You understand and agree that you will be solely liable for any loss or damage arising from your failure to comply with this Section 5 of the Terms of Use.</p>
      <p>
        6. MEMBER CONDUCT</p>
      <p>We do not provide the information on the site and all publicly posted or privately transmitted information, data, text, photographs, graphics, messages or other materials (&quot;Content&quot;) are the sole responsibility of the person from which such Content originated. You agree and represent that you, are entirely responsible for all Content that you upload, download, post, email, transmit or otherwise use or make available via the Services and this site. We do not control the Content posted on the site or sent to you from information gathered from the site. We cannot and will not guarantee the accuracy, integrity or quality of such Content. You understand that the use of RoommateMe.Net may expose you to offensive, indecent or objectionable Content.</p>
      <p>RoommateMe.Net will not be liable for any Content posted on the website. This includes but is not limited to errors or omissions in any Content, loss or damage of any kind resulting from the use of any Content posted, emailed, transmitted or otherwise made available through the Service. Content which is illegal, unlawful, or otherwise prohibited on the website includes, but is not limited to content that:</p>
      <p> 1. is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, religiously or otherwise objectionable;</p>
      <p>
        2. you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</p>
      <p>
        3. harasses or advocates harassment of another person</p>
      <p>
        4. provides material that exploits people under the age of 18 in a sexual or violent manner;</p>
      <p>
        5. solicits personal information from anyone under the age of 18;</p>
      <p>
        6. solicits passwords or personal identifying information for commercial or unlawful purposes from other users; and</p>
      <p>
        7. involves sales or other commercial activity which has not been pre-approved in writing by Roommate Me.Net.</p>
      <p>
        8. promotes information that you know is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous.</p>
      <p>You expressly agree to NOT use the Service for any illegal or inappropriate purpose, and represent and warrant that you will not be involved in any prohibited activities. Roommate Me.Net reserves the right to investigate and initiate legal action against and terminate the accounts of anyone who commits any prohibited activity including but not limited to the following:</p>
      <p> 1. you will not harm minors in any way;</p>
      <p>
        2. you will not impersonate any person or entity, including, but not limited to, any employee, officer or director of RoommateMe.net, LLC, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity;</p>
      <p>
        3. you will not forge headers or otherwise manipulate identifiers in order</p>
      <p>
        4. you will not disguise the origin of any Content transmitted through the Service;</p>
      <p>
        5. you will not upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights (&quot;Rights&quot;) of any party;</p>
      <p>
        6. you will not upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</p>
      <p>
        7. you will not disrupt the normal flow of dialogue, cause a screen to &quot;scroll&quot; faster than other users of the Service are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges;</p>
      <p>
        8. you will not interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;</p>
      <p>
        9. you will not intentionally or unintentionally violate any applicable local, state, national or international law, or any regulations having the force of law;</p>
      <p>
        10. you will not &quot;stalk&quot; or otherwise harass another; or</p>
      <p>
        11. you will not collect or store personal data about other users.</p>
      <p>We have the right, but not the obligation to remove any content, for any reason, without approval of the person who posted such content. You understand that we do not pre-screen content, but retain the right to remove it from the site at our discretion.</p>
      <p>You bear the responsibility and risk associated with the usage and reliance on any content included on our site. You must understand that we do not verify the truthfulness, accuracy, completeness, or usefulness of any information or content posted on our site by any user or third party advertiser. You agree that it is your responsibility to individually verify any content you observe or intend to use which is contained in the website. You agree that you may not rely on any content placed on our site, either by us, third party advertisers, or other users.</p>
      <p>We have the right to preserve Content in our sole discretion. We may disclose such information to third parties to: (a) comply with legal process; (b) enforce the Terms of Use; (c) respond to third party claims that any Content is a violation of their rights; or (d) protect the rights, property, or personal safety of ourselves, our users and the public. We do not, have any affirmative obligation or responsibility to examine or disclose any Content to any third party for any reason.</p>
      <p>You understand that Content you post or share may be may be accessed by people other than yourself on this site. In addition your Content may be transmitted over multiple different networks not under our control.</p>
      <p>
        7. SPECIAL ADMONITIONS FOR INTERNATIONAL USE</p>
      <p>You acknowledge the global nature of the internet and agree to abide by and comply with all local regulations concerning internet usage, conduct, content. You agree to comply with all applicable laws, specifically regarding the transmission of technical data exported from the United States or the country in which you reside.</p>
      <p>
        8. CONTENT SUBMITTED OR MADE AVAILABLE FOR INCLUSION ON THE SERVICE</p>
      <p>We do not own any of the Content submitted by our users. However, with respect to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant us the following world-wide, royalty free and non-exclusive license(s), as applicable:</p>
      <p>The license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display Content you submit or make available to us. We have the irrevocable right to sublicense the Content with the sublicense having the right to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed.</p>
      <p>
        9. INDEMNITY</p>
      <p>You agree to indemnify and hold Roommatattorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit or make available to us, your use of this service, the violation of this agreement, and/or any breach of your representation and warranties set forth above.</p>
      <p>
        10. NO RESALE OF SERVICE</p>
      <p>You agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purposes, any of the information or services from our site, including Content.</p>
      <p>
        11. GENERAL PRACTICES REGARDING USE AND STORAGE</p>
      <p>We may establish general practices and limits concerning use of our site, including but not limited to matters pertaining to the number and size of emails, time Content and other information will remain on our site, limitations on what Content may be posted and when and how long we will retain it.</p>
      <p>We may at any time destroy or log off accounts that are inactive for an extended period of time (6 months of so). You further acknowledge that we reserve the right to change these general practices and limits at any time, in our sole discretion, with or without notice.</p>
      <p>
        12. MODIFICATIONS TO SERVICE</p>
      <p>We have the right to modify or discontinue this service at any time. We shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</p>
      <p>
        13. TERMINATION</p>
      <p>We reserve the right to terminate or cancel your account at any time, if we believe it is in the best interests of RoommateMe.Net or our users.</p>
      <p>
        14. DEALINGS WITH ADVERTISERS</p>
      <p>We are not responsible or liable for any loss or damage arising as the result of dealings with third party advertisers on our site. Your dealings with such advertisers, e.g., Overstock.com and Kohls.com, are solely between you and the advertiser.</p>
      <p>
        15. LINKS</p>
      <p>We are not responsible for the content or functionality of any websites or resources which you may connect to through a link from RoommateMe.Net. We have no control over third party websites and the existence of a link on our website does not in any way imply that we endorse the content, advertisers, or the owners of the third party site. RoommateMe.Net is not to responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, goods or services available on or through any such site or resource.</p>
      <p>
        16. OUR PROPRIETARY RIGHTS</p>
      <p>You acknowledge and agree that the Content and software used by us, as well as the photos, graphics, text and other material appearing on our site, are protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly authorized by us or advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the anything found on our site.</p>
      <p>
        17. DISCLAIMER OF WARRANTIES</p>
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT (EXCEPT WHERE PROHIBITED BY LAW):</p>
      <p>a. YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
      <p>b. WE MAKE NO WARRANTY THAT: (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.</p>
      <p>c. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</p>
      <p>d. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOU.</p>
      <p>
        18. LIMITATION OF LIABILITY</p>
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.</p>
      <p>
        19. NOTICE</p>
      <p>We may contact you to via email, regular mail, or text messages in order to provide you, “the user” with Notices of important information or changes. The primary method we will employ to issue notices of change to the Terms of Use or other issues relevant to the services we provide will be the posting of notices, messages, or links to notices on the website.</p>
      <p>
        20. TRADEMARK INFORMATION</p>
      <p>RoommateMe.Net, the RoommateMe.Net logo, trademarks and service marks, and other RoommateMe.Net logos and product and service names are trademarks of RoommateMe LLC (the &quot;RoommateMe.Net Marks&quot;). You agree to no use, copy or display in any manner, the RoommateMe.Net marks without prior written approval from RoommateMe.Net.</p>
      <p>
        21. GENERAL INFORMATION</p>
      <p>This Terms of Use constitutes the entire agreement between you and RoommateMe LLC and govern your use of the Service, superseding any prior agreements between you and RoommateMe.Net, LLC. You also may be subject to additional terms and conditions that may apply when you use affiliate services, third-party content or third-party software.</p>
      <p>
        22. LEGAL ISSUES</p>
      <p>The Terms of Use and the relationship between you and RoommateMe LLC shall be governed by the laws of the State of Louisiana without regard to its conflict of law provisions. You and RoommateMe LLC agree to submit to the personal and exclusive jurisdiction of the courts located within the Parish of East Baton Rouge, Louisiana. You acknowledge that RoommateMe LLC shall have the right to take legal action against you if your actions violate the Terms of Use and such violation results in damage to RoommateMe LLC or any of its affiliates. The failure of RoommateMe LLC to exercise or enforce any right or provision of the Terms of Use shall not constitute a waiver of such right or provision. If any provision of the Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms of Use remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Terms of Use must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>
      <p>The section titles in the Terms of Use are for convenience only and have no legal or contractual effect.</p>
      <p>
        23. VIOLATIONS</p>
      <p>Please report any violations of the Terms of Use to <a href="mailto:support@roommateme.net">administrator. </a></p>
      <p>
        24. LICENSE</p>
      <p>RoommateMe LLC holds the rights to their company.</p>
      <p>&nbsp;</p>
  </div>
</div>