<div class="page">
  <section class="page-banner">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!--                    <li class="breadcrumb-item"><a href="#"></a></li>-->
          <!--                    <li class="breadcrumb-item active" aria-current="page"></li>-->
        </ol>
      </nav>
      <div class="page-heading">
        <h2>Find you next roommate</h2>
      </div>
    </div>
  </section>
  <section class="people-list padding-tb">
    <div class="container container-w80">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="filter-wrapper">
            <div class="heading">
              <h4>Filters</h4>
            </div>
            <%= form_for :browse, url: browse_path, method: :post do |f| %>
              <div class="form-group">
                <label for="gender" class="main-label">Gender</label><br />
                <div class="form-check form-check-inline">
                  <%= f.check_box :gender, {class: "form-check-input"}, "Male", nil %>
                  <label class="form-check-label" for="inlineCheckbox1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.check_box :gender, {class: "form-check-input"}, "Female", nil %>
                  <label class="form-check-label" for="inlineCheckbox2">Female</label>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="main-label">I'm looking for</label><br />
                <div class="form-check form-check-inline">
                  <%= f.check_box :needs_roommate, {class: "form-check-input"}, true, nil %>
                  <label class="form-check-label" for="inlineCheckbox3">Roommate</label>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.check_box :needs_roommate, {class: "form-check-input"}, false, nil %>
                  <label class="form-check-label" for="inlineCheckbox4">Room</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="date" class="main-label">Date</label>
                  <%= f.date_field :dob, class: "form-control", placeholder: "", placeholder: "Date" %>
                </div>
              </div>
              <div class="form-row">
                <div class="slidecontainer">
                  <label for="age" class="main-label">Age</label>
                  <%= f.range_field :age, :in => 18..60, :step => 1, class: "slider", id: "age_range" %>
                  <!-- <p>Value: <span id="age_value"></span></p> -->
                </div>
              </div>
              <div class="form-row">
                <div class="slidecontainer">
                  <label for="budget" class="main-label">Budget</label>
                  <%= f.range_field :age, :in => 3000..6000, :step => 1, class: "slider", id: "budget_range" %>
                  <!-- <p>Value: <span id="budget_value"></span></p> -->
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
          <div class="list-wrapper matches">
            <div class="">
              <div class="">
                <div class="matches-header">
                  <div class="row">
                    <!--                                   <div class="col-lg-1 col-md-1 col-sm-12 col-12">-->
                    <!---->
                    <!--                                   </div>-->
                    <div class="col-lg-6 col-md-6 col-sm-8 col-8 px-0 mx-0">
                      <div class="heading">
                        <h4>People Profiles</h4>
                        <p>
                          (Showing <%= @users.count %> people profiles)
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-4 col-4 px-0">
                      <div class="sorting text-right">
                        <div class="dropdown">
                          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <% @users.each do |user| %>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                      <div class="card">
                        <div class="img-wrapper">
                          <%= image_tag user.avatar_url(:big), class: "card-img-top" %>
                        </div>
                        <div class="desc">
                          <h5><%= link_to user.name, user_path(user) %></h5>
                          <p><%= user.birthtown %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>