<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Matches</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="matches">
    <div class="container-w80 container">
      <div class="matches-header">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="heading">
              <h4>Matches</h4>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="sorting text-right">
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change Location
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      	<% @matches.each do |m| %>
	        <div class="col-md-2 col-sm-3 col-6 col-1-5">
	          <div class="card">
	            <div class="img-wrapper">
	              <%= link_to m do %>
	              	<%= image_tag(m.avatar_url(:big), class: "img-fluid") %>
	              <% end %>
	            </div>
	            <div class="desc">
	              <h5><%= m.name %></h5>
	            </div>
	          </div>
	        </div>
        <% end %>

        <% if @matches.empty? %>
        	<div class="col-md-12 col-sm-12 col-12">
        		<p class="text-center">You don't have any matches yet!</p>
        	</div>
        <% end %>
      </div>
    </div>
  </section>
</div>
