<ul id="inventory_categories" class="clearfix">
	<% @categories.each do |category| %>
	<li><%= link_to category.name, category_affiliates_path(category) %></li>
	<% end %>
</ul>

<div id="community_partners_list">
	<% @affiliates.each do |affiliate| %>
	<div class="community_partner clearfix">
		<%= link_to image_tag(affiliate.image_url(:thumb)), affiliate %>
		<div class="community_partner_meta">
			<h3><%= link_to affiliate.name, affiliate %> / <%= affiliate.affiliate_category.name %></h3>
			<p><%= affiliate.description %></p>
		</div>
	</div>
	<% end %>
</div>

<%= paginate @affiliates %>