<div id="community_partners" class="clearfix">
  <h2 class="big">Affiliates</h2>
  
  <h1 style="text-align:center; font-size: 8em; color: orange;"> UNDER CONSTRUCTION </h1>
  
  <%# render "list" %>
	
</div>