<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/">Affiliates</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @affiliate.name %></li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2><%= @affiliate.name %></h2>
      </div>
    </div>
  </section>
  <section class="affiliate-detail detail-view">
    <div class="container container-w80">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="img-wrapper">
            <%= image_tag @affiliate.image_url(:big), class: "img-fluid" %>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="content-wrapper">
            <p><%= simple_format @affiliate.description %></p>
            <p><%= raw @affiliate.html_link %></p>
            <div class="category-tab">
              <h4>Categories</h4>
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              	<% @item_categories.each do |category| %>
	                <li class="nav-item">
	                  <%= link_to category.name, item_categories_path(category.name.downcase), class: "nav-link active" %>
	                </li>
                <% end %>
              </ul>

              <% if @item_categories.empty? %>
								<p>This affiliate doesn&rsquo;t have any items listed yet.</p>
							<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>