<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Survey</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2>Survey</h2>
        <p><%= @form.instructions %></p>
      </div>
    </div>
  </section>

  <section class="survey">
    <div class="container">
      <%= form_for @survey, url: submit_survey_path, html: { method: :post } do |f| -%>
        <% if @survey.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@survey.errors.count, "error") %> prohibited your survey from being submitted:</h2>

            <ul>
            <% @survey.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <% @questions.each_with_index do |q,i| %>
          <div class="form-group">
            <label class="main-label"><%= q.content %></label>
            <%= f.fields_for :responses, @survey.responses[10*@page+i], child_index: 10*@page+i do |ff| %>
              <% q.answers.each do |a| %>
                <div class="form-check">
                  <%= ff.radio_button :answer_id, a.id, class: "form-check-input" %>
                  <%= ff.label "answer_id_#{a.id}", a.content, class: "form-check-label" %>
                  <%= ff.hidden_field :question_id, value: q.id %>
                  <%= ff.hidden_field :user_id, value: current_user.id %>
                  <%= ff.hidden_field :form_id, value: @form.id %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="main-btn text-left">
          <% if !@last_page %>
            <%= f.submit "Next Page", class: "btn btn-tertiary" %> (Check your answers; clicking "Next Page" will save your answers)
          <% else %>
            <%= f.submit "Submit", confirm: "Are you sure you are done with this survey?", class: "btn btn-tertiary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

</div>