<h1>Suggest a New Community Partner</h1>
<%= form_for(@community_partner_suggestion) do |f| %>
  <% if @community_partner_suggestion.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@community_partner_suggestion.errors.count, "error") %> prohibited this community_partner_suggestion from being saved:</h3>

      <ul>
      <% @community_partner_suggestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mailing_address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :patronage_frequency %><br />
    <%= f.text_field :patronage_frequency %>
  </div>
  <div class="field">
    <%= f.label :reason_and_description %><br />
    <%= f.text_area :reason %>
  </div>
  <div class="actions">
    <%= f.submit class: "submit_button", value: "Send!" %>
  </div>
<% end %>
