<h1>Listing community_partner_suggestions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Silo</th>
    <th>Patronage frequency</th>
    <th>Reason</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @community_partner_suggestions.each do |community_partner_suggestion| %>
  <tr>
    <td><%= community_partner_suggestion.name %></td>
    <td><%= community_partner_suggestion.phone %></td>
    <td><%= community_partner_suggestion.email %></td>
    <td><%= community_partner_suggestion.address %></td>
    <td><%= community_partner_suggestion.silo %></td>
    <td><%= community_partner_suggestion.patronage_frequency %></td>
    <td><%= community_partner_suggestion.reason %></td>
    <td><%= link_to 'Show', community_partner_suggestion %></td>
    <td><%= link_to 'Edit', edit_community_partner_suggestion_path(community_partner_suggestion) %></td>
    <td><%= link_to 'Destroy', community_partner_suggestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Community partner suggestion', new_community_partner_suggestion_path %>
