<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @community_partner_suggestion.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @community_partner_suggestion.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @community_partner_suggestion.email %>
</p>

<p>
  <b>Address:</b>
  <%= @community_partner_suggestion.address %>
</p>

<p>
  <b>Silo:</b>
  <%= @community_partner_suggestion.silo %>
</p>

<p>
  <b>Patronage frequency:</b>
  <%= @community_partner_suggestion.patronage_frequency %>
</p>

<p>
  <b>Reason:</b>
  <%= @community_partner_suggestion.reason %>
</p>


<%= link_to 'Edit', edit_community_partner_suggestion_path(@community_partner_suggestion) %> |
<%= link_to 'Back', community_partner_suggestions_path %>
