<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Universities</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="inventory search-result">
    <div class="container container-w80">
      <div class="search-category">
        <div class="main-heading text-left">
        </div>
        <div class="card-wrapper matches">
          <div class="row">
            <% @universities.each do |university| %>
	            <div class="col-lg-2 col-md-6 col-sm-6 col-6">
	              <div class="card">
	                <div class="img-wrapper">
	                  <%= link_to image_tag(university.logo_url(:big), class: "img-fluid"), university %>
	                </div>
	                <div class="desc">
	                  <h5>
	                    <%= link_to university.name, university %>
	                  </h5>
	                </div>
	              </div>
	            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>