<div class="page">
  <section class="page-breadcrumb">
    <div class="container container-w80">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/universities">Universities</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= @university.name %>
          </li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="page-banner">
    <div class="container container-w80">
      <div class="page-heading">
        <h2>
          <%= @university.name %>
        </h2>
      </div>
    </div>
  </section>
  <section class="detail-view university-detail">
    <div class="container container-w80">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="img-wrapper">
            <%= image_tag @university.logo_url(:big), class: "img-fluid" %>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="content-wrapper">
            <h4>Overview</h4>
            <p>
              <%= @university.acronym %>
            </p>
            <div class="student-info">
              <h4>Student & staff</h4>
              <ul class="">
                <li>
                  <a class="active" href="#">Total students - <%= @university.users.count %></a>
                </li>
                <!-- <li>
                  <a class="" href="#">International students - 4,645</a>
                </li>
                <li>
                  <a class="" href="#">Total faculty staff - 5,022</a>
                </li> -->
              </ul>
            </div>
            <div class="contact-info">
              <h4>Address</h4>
              <ul class="">
                <li>
                  <%= @university.address %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="map-wrapper">
        <h4>Location</h4>
        <%= raw @university.google_maps %>
      </div>
    </div>
  </section>
</div>