<div class="clip-section">
  <svg height="130" width="100%">
    <polygon points="0,130 2100,0 2100,130" style="fill: #e1f5fd; stroke: #e1f5fd;"></polygon>
  </svg>
</div>
<footer class="footer bg-blue" id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="footer-menu">
            <h4>Navigate</h4>
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About Us", about_path %></li>
              <li><%= link_to "Find your match", matching_path %></li>
              <li><%= link_to "Community Partners", community_path %></li>
              <li><%= link_to "Stay Connected", messages_path %></li>
              <!-- <li><%#= link_to "Search", search_path %></li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="feedback">
            <h4>Feedback</h4>
            <p>We want to hear from you! Use this form to submit your
              suggestions on how to improve our service.
            </p>
            <%= form_for @feedback do |f| %>
              <div class="form-group select-wrapper">
                <%= f.collection_select :feedback_category_id, 
                    @feedback_categories, :id, :name,
                    { :include_blank => "Please select feedback type" },
                    class: "form-control" %>
                <span class="select-icon"><i class="fa fa-chevron-down"></i></span>
              </div>
              <div class="form-group">
                <%= f.text_area :content, :rows => 3, class: "form-control" %>
              </div>
              <div class="main-btn text-left">
                <%= f.button "Send", type: "submit", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="footer-social-links">
            <h4>Contact with us</h4>
            <ul>
              <li class="facebook"><a href="" target="_blank"><i class="mdi mdi-facebook"></i></a></li>
              <li class="instagram"><a href="#" target="_blank"><i class="mdi mdi-instagram"></i></a></li>
              <li class="linkedin"><a href="" target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
              <li class="pinterest"><a href="" target="_blank"><i class="mdi mdi-pinterest"></i></a></li>
              <li class="twitter"><a href="" target="_blank"><i class="mdi mdi-twitter"></i></a></li>
              <li class="youtube"><a href="" target="_blank"><i class="mdi mdi-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render("layouts/copyright") %>
</footer>