<header class="header <%= controller.action_name != 'landing' ? 'header-inner' : '' %> sticky">
  <div class="container container-w80">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--                    <span class="navbar-toggler-icon"></span>-->
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "#{controller.action_name != 'landing' ? 'logo-white-small.png' : 'logo-blue-small.png'}", class: "img-fluid" %>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu-left">
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Country
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">India</a>
              <a class="dropdown-item" href="#">USA</a>
            </div>
          </li> -->
        </ul>
        <ul class="my-2 my-lg-0 menu-right">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", about_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Find your Match", matching_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Search", search_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Community Partners", community_path, :class => "nav-link" %>
          </li>
          <!-- <li class="nav-item">
            <%#= link_to "Search", search_path, :class => "nav-link" %>
          </li> -->
          <li class="nav-item">
            <%= link_to "Stay Connected", messages_path, :class => "nav-link" %>
          </li>
          <li class="main-btn text-left">

            <% if current_user %>
              <%= link_to "Log Out", log_out_path, :class => "btn #{controller.action_name == 'landing' ? 'btn-primary' : 'btn-secondary'}" %>
            <% else %>
              <%= link_to "Login", log_in_path, :class => "btn #{controller.action_name == 'landing' ? 'btn-primary' : 'btn-secondary'}" %>
            <% end %>
          </li>

          <% unless current_user %>
            <li class="main-btn text-left">
              <%= link_to "Sign Up", register_path, :class => "btn #{controller.action_name == 'landing' ? 'btn-primary' : 'btn-secondary'}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <%= render "shared/flash_message" %>
</header>