<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>RoommateMe</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9Wer3JHGTOixM5h7K-yPvrwAH3qFiPuI&libraries=places"  type="text/javascript"></script>
	<%= stylesheet_link_tag "application", media: 'all' %>
	
	<%= csrf_meta_tag %>
</head>

<body>
	<div class="content-wrapper">
	  <%= render "static/google_analytics" if Rails.env == "production" %>

		<%= render "layouts/header_inner" %>

		<%= yield %>

	  <%= javascript_include_tag 'application' %>
	  
	  <!--[if IE ]>
	    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	  <![endif]-->
  </div>
</body>
</html>
